<div class="form form-footer">
	<div class="container">
		<p class="sub-header">Мы в ArcelorMittal понимаем, что не у всех будет возможность предоставить полную информацию, которая требуется в форме, за один раз. Мы заботимся о наших партнерах, даже потенциальных, потому <b>когда Вы нажмете на кнопку “ОТПРАВИТЬ”, заполненные Вами данные сохранятся, даже если Вы не заполнили форму до конца.</b></p>
		<button>
			<svg class="icon-svg-send">
				<use xlink:href="img/sprite.svg#send" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
			<span>ОТПРАВИТЬ</span>
		</button>
	</div>
</div>