<div class="fixedContent">
	<div class="container">
		<span>Мы в ArcelorMittal понимаем, что не у всех будет возможность предоставить полную информацию, которая требуется в форме, за один раз. Мы заботимся о наших партнерах, даже потенциальных, потому когда Вы нажмете на кнопку “ОТПРАВИТЬ”, заполненные Вами данные сохранятся, даже если Вы</span>
	</div>
</div>
<div class="form form-head">
	<div class="container">
		<div class="logo">
			<img src="/img/logo-black.png" alt="">
		</div>
		<h1>Анкета подрядчика</h1>
		<!--<p class="sub-header">Мы в ArcelorMittal понимаем, что не у всех будет возможность предоставить полную информацию, которая требуется в форме, за один раз. Мы заботимся о наших партнерах, даже потенциальных, потому <b>когда Вы нажмете на кнопку “ОТПРАВИТЬ”, заполненные Вами данные сохранятся, даже если Вы не заполнили форму до конца.</b></p>-->
		<!--<p class="header-txt">Вам необходимо ответить на все нижеперечисленные вопросы. Если определенный вопрос не применим к Вам или Вашей компании, введите "Н/П" в соответствующее поле. Эта анкета охватывает Вас и Вашу компанию и всех тех, кто представляет ее интересы, включая директоров, руководителей высшего звена, принципалов, владельцев, менеджеров, партнеров, агентов или консультантов.</p>-->
		<!--<p class="header-reminder">Для вопросов, отмеченных (<span class="required">*</span>) обязательно предоставление подтверждающих документов</p>-->
	</div>
</div>