@import "libs/_elements";
@import "libs/_blank";
//@import "libs/_fsize";
/*
================================================================================
|                                     reset                                     |
================================================================================
*/
@import "libs/_reset";
/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
@import "libs/_fonts";

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/

html,
body {
	height: 100%;
}

body {
	position: relative;
	margin: 0 auto;
	//color: $lgrey;
	//background-color: $lfiol;
	font-size: 14px;
}

section {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 0 30px;
}

.container {
	max-width: 980px;
	margin: 0 auto;
}

.loader-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #444046;
	z-index: 1000;
	//display: none;
}

.loader {
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -20px;
	//background-color:#ff3700;
	z-index: 1000;
	
}


.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: relative;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
	-webkit-transform: scale(1.1) rotateZ(90deg);
	transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
	-webkit-transform: scale(1.1) rotateZ(180deg);
	transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
	-webkit-transform: scale(1.1) rotateZ(270deg);
	transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		  -webkit-transform: perspective(140px) rotateX(0deg);
		  transform: perspective(140px) rotateX(0deg);
		  opacity: 1;
	  } 90%, 100% {
		    -webkit-transform: perspective(140px) rotateY(180deg);
		    transform: perspective(140px) rotateY(180deg);
		    opacity: 0;
	    }
}

#users-vendortype:disabled {
	color: rgba(105, 106, 108, 0.54);
	opacity: .5;
	cursor: not-allowed;
}

.language-picker {
	display: inline-block;
	position: absolute!important;
	top: 10px;
	right: 10px;
	z-index: 101;
}






@import "content/pages/main";
@import "content/pages/main-sucsess";

//FORM
@import "content/pages/form/common-styles";
@import "content/pages/form/head";
@import "content/pages/form/content";
@import "content/pages/form-sucsess";




