<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>КОДЕКС ДЕЛОВОГО ПОВЕДЕНИЯ</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">25</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеет ли Ваша Компания Кодекс делового поведения или утвержденный документ (письменная политика), который поддерживает этические правила ведения бизнеса?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">26</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Есть ли в Вашей Компании политика, направленная против взяточничества и предотвращения мошенничества?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">27</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Существует ли в Вашей Компании процесс, согласно которого любой сотрудник может свободно проинформировать руководство о случаях предполагаемого запугивания, дискриминации, взяточничества, мошенничества и/или не этических правил ведения бизнеса?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">28</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Является ли обычным или приемлемым в той местности, где Вы будете оказывать услуги от имени АМКР, предлагать или давать что-нибудь ценное государственным чиновникам или служащим, политическим партиям или политическому кандидату?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">29</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Является ли обычным или приемлемым в той местности, где Вы будете оказывать услуги от имени АМКР, предлагать или давать что-нибудь ценное (кроме рекламной продукции не большой стоимости, например, календарь с наименованием и/или логотипом Вашей Компании)  клиенту (или директору, или сотруднику клиента) или поставщику (или директору или сотруднику поставщика) в дополнение к вознаграждению, согласованному за закупку материалов и услуг?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


<div class="cat-row">
			<div class="cat-col cat_num">30</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Предлагала/давала ли Ваша Компания или сотрудник, работающий от ее имени, прямо или косвенно что-нибудь ценное  государственным чиновникам или служащим, политическим партиям или политическому кандидату, или их членам семьи в связи с какой-либо коммерческой сделкой?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">31</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Предлагала/давала ли Ваша Компания или сотрудник, работающий от ее имени, прямо или косвенно что-нибудь ценное (кроме рекламной продукции не большой стоимости, например, календарь с наименование и/или логотипом Вашей Компании) клиенту (или директору, или сотруднику клиента) или поставщику (или директору, или сотруднику поставщика) в дополнение к вознаграждению, согласованному за закупку материалов и услуг в связи с какой-либо коммерческой сделкой?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


<div class="cat-row">
			<div class="cat-col cat_num">32</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Была ли Ваша Компания или сотрудник, работающий от ее имени, когда-либо осужден, оштрафован, обвинен в уголовном или нормативном нарушении, включая взяточничество и коррупцию, или имеются ли текущие уголовные и нормативные расследования, возбужденные против Вашей Компании или тех, кто работает от ее имени?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">33</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеются ли случаи отстранения от работы, приостановления деятельности или возложения санкций по отношению Вашей Компании или лиц, работающих от ее имени, со стороны любого учреждения, включая снабжение и лицензирующие органы, а также судебные иски, возбужденные против Вашей Компании или лиц, работающих от ее имени?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">34</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеются ли случаи невыполнения обязательств по контракту, расторжения контракта в связи с нарушениями или случаи выплаты убытков по контракту у Вашей Компании или лиц, работающих от ее имени? </span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">35</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеются ли обстоятельства, которые могут вызвать вопросы о соответсвии Вашей компании законодательству, включая антикоррупционные положения и политики и интересы АМКР?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>























	</div>
</div>





