<div class="form-catigories">
		<div class="cat-row cat-head cat-head-err">
			<span>Общая информация о компании</span>
			<div class="arr_up">
				<svg class="icon-svg-arr-up">
					<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
			</div>
			<div class="cat-head-err-content">Ошибок: 12</div>
		</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num">1</div>
			<div class="cat-col cat_q">
				<span>DUNS Номер</span>
				<div class="q_tip-container">
					<div class="q_tip">
						<div class="q_tip-ico">
							<svg class="icon-svg-tip">
								<use xlink:href="img/sprite.svg#tip" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
							</svg>
						</div>
						<div class="q_tip-txt">DUNS номер (для Универсальной Системы Нумерации Данных) является уникальным идентификатором для бизнеса. DUNS номера присваиваются и поддерживаются компанией Dun & Bradstreet (D & B). Если у Вас нет номера DUNS вы должны подать заявление на присвоение Вашей компании такого номера. Вы должны зарегистрировать каждое из ваших местоположений с собственным номером DUNS</div>
					</div>
				</div>
			</div>
			<div class="cat-col cat_answ">
				<textarea rows="1"></textarea>
			</div>
		</div>

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">2</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="cat-row_subq">
						<div class="cat-col cat_q"><span>Зарегистрированное наименование Компании</span></div>
						<div class="cat-col cat_answ">
							<textarea rows="1"></textarea>
						</div>
					</div>
					<div class="cat-row_subq">
						<div class="cat-col cat_q"><span>Зарегистрированное наименование Компании <span class="__lgrey">(латинскими буквами)</span></span></div>
						<div class="cat-col cat_answ">
							<textarea rows="1"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--cat q TYPE 2-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">3</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-head">Зарегистрированный адрес Компании</div>
					<div class="subcat-row subcat-row_3cols subcat-row_3cols__head">
						<div class="subcat-col"></div>
						<div class="subcat-col">Юридический адрес</div>
						<div class="subcat-col">Физический адрес</div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Страна</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Страна <span class="__lgrey">(латинскими буквами)</span></span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Область</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Область <span class="__lgrey">(латинскими буквами)</span></span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Город</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Город <span class="__lgrey">(латинскими буквами)</span></span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Почтовый индекс</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Улица/номер дома/номер офиса</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Улица <span class="__lgrey">(латинскими буквами)</span></span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Номер телефона</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Номер факса</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>E-mail</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_3cols">
						<div class="subcat-col subcat_q"><span>Сайт в интернете</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num _n__important">4</div>
			<div class="cat-row_q_box">
				<div class="subcat-row subcat-head">Бизнес модель</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q">
						<span>Форма собственности</span>
						<div class="q_tip-container">
							<div class="q_tip">
								<div class="q_tip-ico">
									<svg class="icon-svg-tip">
										<use xlink:href="img/sprite.svg#tip" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="q_tip-txt">DUNS номер (для Универсальной Системы Нумерации Данных) является уникальным идентификатором для бизнеса. DUNS номера присваиваются и поддерживаются компанией Dun & Bradstreet (D & B). Если у Вас нет номера DUNS вы должны подать заявление на присвоение Вашей компании такого номера. Вы должны зарегистрировать каждое из ваших местоположений с собственным номером DUNS</div>
							</div>
						</div>
					</div>
					<div class="subcat-col subcat_answ">
						<textarea rows="1"></textarea>
						<div class="answ_err-container">
							<div class="answ_err">
								<div class="answ_err-ico">
									<svg class="icon-svg-err">
										<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="answ_err-txt">Неверный формат</div>
							</div>
						</div>
					</div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Форма собственности <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_q_select-1">
					<div class="subcat-col subcat_q subcat_select_q">
						<span>Типология партнера</span>
					</div>
					<div class="subcat-col subcat_select">
						<select name="select1" class="form-select" required>
							<option value="" name="choose" disabled selected>Выберите</option>
							<option value="выбор1" name="select1-option">выбор1</option>
							<option value="выбор2" name="select2-option">выбор2</option>
							<option value="выбор3" name="select3-option">выбор3</option>
							<option value="выбор4" name="select4-option">выбор4</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">5</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-head">Контактное лицо для АМКР</div>
					<div class="subcat-row q_full_center">Ф.И.О.</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Ф.И.О.</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Должность/Отдел</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Рабочий телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Мобильный телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>E-Mail</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
				</div>
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-head">Контактное лицо для участия в электронных тендерах</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Ф.И.О.</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Рабочий телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Мобильный телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>E-Mail</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">6</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Предлагаемый вид материалов/услуг для поставки/оказания в адрес АМКР				</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num _n__important">7</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p class="txtImportant">Подробности, касающиеся предлагаемого вида работ (пожалуйста, приложите копию Вашей лицензии, классификатора КВЭД, имеющихся сертификатов, свидетельств и разрешений) - только для Подрядчиков</p>
							<p>Перечислите все виды выполняемых Вами работ, оцените каждый вид оценкой по следующим критериям:</p>
							<ul>
								<li>3 – работы выполняются регулярно, персонал для этих работ постоянный, Компания специализируется на оказании этого вида услуг</li>
								<li>2 – работы выполняются не регулярно, персонал постоянный, Компания специализируется на оказании этого вида услуг</li>
								<li>1 - работы выполняются не регулярно, персонал не постоянный, Компания не специализируется на оказании этого вида услуг, но имеется лицензия на этот вид работ</li>
							</ul>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-1" class="attach_inp"/> <label for="attach_inp-1" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
						<div class="subcat-col subcat_answ">
							<div class="subcat-table subcat-table-5cols">
								<div class="subcat-t-row subcat-t-name">
									<div class="subcat-t-cell">№</div>
									<div class="subcat-t-cell">Вид работ</div>
									<div class="subcat-t-cell">% от общей деятельности</div>
									<div class="subcat-t-cell">Среднегодовая стоимость работ, грн</div>
									<div class="subcat-t-cell">Оценка</div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell">
										<textarea rows="1"></textarea>
										<div class="answ_err-container">
											<div class="answ_err">
												<div class="answ_err-ico">
													<svg class="icon-svg-err">
														<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</div>
												<div class="answ_err-txt">Неверный формат</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-cell">
										<textarea rows="1"></textarea>
										<div class="answ_err-container">
											<div class="answ_err">
												<div class="answ_err-ico">
													<svg class="icon-svg-err">
														<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</div>
												<div class="answ_err-txt">Неверный формат</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-cell">
										<textarea rows="1"></textarea>
										<div class="answ_err-container">
											<div class="answ_err">
												<div class="answ_err-ico">
													<svg class="icon-svg-err">
														<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</div>
												<div class="answ_err-txt">Неверный формат</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-cell">
										<textarea rows="1"></textarea>
										<div class="answ_err-container">
											<div class="answ_err">
												<div class="answ_err-ico">
													<svg class="icon-svg-err">
														<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</div>
												<div class="answ_err-txt">Неверный формат</div>
											</div>
										</div>
									</div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">8</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_t-head">Ф.И.О.</div>
						<div class="subcat-col subcat_answ">
							<div class="subcat-table subcat-table-3cols">
								<div class="subcat-t-row subcat-t-name">
									<div class="subcat-t-cell">Генерального Директора</div>
									<div class="subcat-t-cell">Коммерческого директора</div>
									<div class="subcat-t-cell">Главного бухгалтера</div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
								</div>
							</div>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_t-head">Адрес регистрации</div>
						<div class="subcat-col subcat_answ">
							<div class="subcat-table subcat-table-3cols">
								<div class="subcat-t-row subcat-t-name">
									<div class="subcat-t-cell">Генерального Директора</div>
									<div class="subcat-t-cell">Коммерческого директора</div>
									<div class="subcat-t-cell">Главного бухгалтера</div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">9</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Рабочий телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>Мобильный телефон</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
					<div class="subcat-row subcat-row_2cols">
						<div class="subcat-col subcat_q"><span>E-Mail</span></div>
						<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">10</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>В случае отсутствия основных средств, предоставьте копии договоров аренды производственного оборудования (для поставщика)</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-2" class="attach_inp"/> <label for="attach_inp-2" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cat-row">
			<div class="cat-col cat_num _n__important">11</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>При поставке ТМЦ, подлежащих лицензированию, предоставьте копию лицензии (разрешения), в т.ч. на производство работ повышенной опасности</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-3" class="attach_inp"/> <label for="attach_inp-3" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div></div>





