<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>ИНФОРМАЦИЯ ПОДРЯДЧИКА</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">50</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Данные о собственных и арендуемых машинах, механизмах, оборудовании и автотранспорте</span>
						</div>
						<div class="subcat-row">
							<div class="t-container">
								<div class="subcat-table subcat-table-7cols">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Перечень собственных машин, механизмов, оборудования</div>
										<div class="subcat-t-cell">Марка</div>
										<div class="subcat-t-cell">К-во ед.</div>
										<div class="subcat-t-cell">Перечень арендованных машин, механизмов, оборудования</div>
										<div class="subcat-t-cell">Марка (модель)</div>
										<div class="subcat-t-cell">К-во ед.</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
								</div>
								<div class="add-t-row">+ Добавить строку</div>
							</div>
						</div>
						<div class="subcat-row">
							<div class="t-container">
								<div class="subcat-table subcat-table-7cols">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Перечень собственных машин, механизмов, оборудования</div>
										<div class="subcat-t-cell">Марка</div>
										<div class="subcat-t-cell">К-во ед.</div>
										<div class="subcat-t-cell">Перечень арендованных машин, механизмов, оборудования</div>
										<div class="subcat-t-cell">Марка (модель)</div>
										<div class="subcat-t-cell">К-во ед.</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									</div>
								</div>
								<div class="add-t-row">+ Добавить строку</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">51</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row">
						<div class="subcat-col subcat_q">
							<span>Перечень  субподрядных организаций, которые Вы будете привлекать для  работы на объектах АМКР</span>
						</div>
					</div>
					<div class="dynamic-textarea-container">
						<div class="subcat-row">
							<textarea rows="1"></textarea>
						</div>
						<div class="subcat-row">
							<textarea rows="1"></textarea>
						</div>
					</div>
					<div class="add-textarea">+ Добавить строку</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">52</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Копии разрешений органов Госгорпромнадзора Украины на проведение необходимых видов работ повышенной опасности и эксплуатацию объектов, механизмов, машин и оборудования повышенной опасности / разрешений Госпожнадзора Украины на право проведения огневых работ</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-23" class="attach_inp"/> <label for="attach_inp-23" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">53</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Информация о количестве и номенклатуре имеющихся средств подмащивания. «Средства подмащивания. Классификация и общие технические требования»	</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-24" class="attach_inp"/> <label for="attach_inp-24" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">54</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки руководителей, специалистов и рабочих Компании, которые допущены к выполнению работ повышенной опасности (или обученны по общим вопросам охраны труда), с указанием для каждого работника с вложением <span class="__red">*</span>:</p>
							<ul class="list_mark">
								<li>профессии (занимаемой должности)</li>
								<li>даты проведения проверки знаний по охране труда и № протокола проверки знаний <span class="__red">*</span></li>
								<li>даты прохождения медицинских осмотров <span class="__red">*</span></li>
								<li>даты прохождения флюорографического обследования <span class="__red">*</span></li>
							</ul>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-25" class="attach_inp"/> <label for="attach_inp-25" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-7cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Даты проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">Даты прохождения периодического медицинского осмотра</div>
										<div class="subcat-t-cell">Даты прохождения флюорографического обследования</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">

											<div class="answ_err-container answ_err-container-attach">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt">Неверный формат</div>
												</div>
											</div>

											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-26" class="attach_inp"/> <label for="attach_inp-26" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-27" class="attach_inp"/> <label for="attach_inp-27" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-28" class="attach_inp"/> <label for="attach_inp-28" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-29" class="attach_inp"/> <label for="attach_inp-29" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-30" class="attach_inp"/> <label for="attach_inp-30" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-31" class="attach_inp"/> <label for="attach_inp-31" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-32" class="attach_inp"/> <label for="attach_inp-32" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-33" class="attach_inp"/> <label for="attach_inp-33" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-34" class="attach_inp"/> <label for="attach_inp-34" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">55</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки руководителей, специалистов и рабочих Компании, которые допущены к выполнению работ на высоте с указанием для каждого работника:</p>
							<ul class="list_mark">
								<li>профессии (занимаемой должности)</li>
								<li>даты проведения проверки знаний по охране труда и № протокола проверки знаний</li>
							</ul>
						</div>
					</div>

					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Даты проведения проверки знаний</div>
										<div class="subcat-t-cell">№ протокола проверки знаний</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-126" class="attach_inp"/> <label for="attach_inp-126" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-127" class="attach_inp"/> <label for="attach_inp-127" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-128" class="attach_inp"/> <label for="attach_inp-128" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-129" class="attach_inp"/> <label for="attach_inp-129" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-130" class="attach_inp"/> <label for="attach_inp-130" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-131" class="attach_inp"/> <label for="attach_inp-131" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-132" class="attach_inp"/> <label for="attach_inp-132" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-133" class="attach_inp"/> <label for="attach_inp-133" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-134" class="attach_inp"/> <label for="attach_inp-134" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">56</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки руководителей, специалистов и рабочих, связанных с эксплуатацией, монтажoм, ремонтом, наладкой: грузоподъёмных машин (ГПМ), сосудов, работающих под давлением, электроустановок, а также объектов, подконтрольных Госгорпромнадзору Украины, с указанием для каждого работника даты проведения проверки знаний по охране труда, № протокола проверки знаний, № удостоверения о проведении проверки знаний Правил и норм по охране труда (классифицировать по объектам котлонадзора):</p>
							<ul class="list_mark">
								<li>по ГПМ</li>
							</ul>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-226" class="attach_inp"/> <label for="attach_inp-226" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-227" class="attach_inp"/> <label for="attach_inp-227" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-228" class="attach_inp"/> <label for="attach_inp-228" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-229" class="attach_inp"/> <label for="attach_inp-229" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-230" class="attach_inp"/> <label for="attach_inp-230" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<ul class="list_mark">
								<li>по сосудам работающим под давлением</li>
							</ul>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-326" class="attach_inp"/> <label for="attach_inp-326" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-327" class="attach_inp"/> <label for="attach_inp-327" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-328" class="attach_inp"/> <label for="attach_inp-328" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-329" class="attach_inp"/> <label for="attach_inp-329" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-330" class="attach_inp"/> <label for="attach_inp-330" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<ul class="list_mark">
								<li>по электроустановкам</li>
							</ul>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-426" class="attach_inp"/> <label for="attach_inp-426" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-427" class="attach_inp"/> <label for="attach_inp-427" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-428" class="attach_inp"/> <label for="attach_inp-428" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-429" class="attach_inp"/> <label for="attach_inp-429" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-430" class="attach_inp"/> <label for="attach_inp-430" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">57</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки работников Компании-исполнителей огневых работ, а также лиц, занимающихся организацией этого вида работ, с указанием для каждого работника даты проведения проверки знаний по программе пожарно-технического минимума и № протокола проверки знаний, № удостоверения о проведении проверки знаний по программе пожарно-технического минимума</p>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-530" class="attach_inp"/> <label for="attach_inp-530" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">58</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки работников Компании-исполнителей огневых работ, а также лиц, занимающихся организацией этого вида работ, с указанием для каждого работника даты проведения проверки знаний по программе пожарно-технического минимума и № протокола проверки знаний, № удостоверения о проведении проверки знаний по программе пожарно-технического минимума</p>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-6cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Фамилия, имя, отчество</div>
										<div class="subcat-t-cell">Профессия (занимаемая должность)</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
										<div class="subcat-t-cell">
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="file" id="attach_inp-531" class="attach_inp"/> <label for="attach_inp-531" class="attach-label">
													<svg class="icon-svg-attach">
														<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="add-t-row-1">+ Добавить строку</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">58</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<p>Списки работников Компании-исполнителей огневых работ, а также лиц, занимающихся организацией этого вида работ, с указанием для каждого работника даты проведения проверки знаний по программе пожарно-технического минимума и № протокола проверки знаний, № удостоверения о проведении проверки знаний по программе пожарно-технического минимума</p>
						</div>
					</div>
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_answ">
							<div class="t-container">
								<div class="subcat-table subcat-table-4cols-2">
									<div class="subcat-t-row subcat-t-name">
										<div class="subcat-t-cell">№</div>
										<div class="subcat-t-cell">Дата проведения проверки знаний по охране труда и № протокола проверки знаний</div>
										<div class="subcat-t-cell">№ удостоверения о проведении проверки знаний Правил и норм по охране труда</div>
										<div class="subcat-t-cell"></div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-105-3" name="Forms[table][17][105][3]" rows="1" rule-id="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="/frontend/web/img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-106-3" name="Forms[table][17][106][3]" rows="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="/frontend/web/img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-107-3" name="Forms[table][17][107][3]" rows="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="/frontend/web/img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<div class="answ_err-container answ_err-container-attach" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="/frontend/web/img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
											<div class="attach-f">
												<div class="attach-f-wrap"><input type="hidden" name="Forms[attach_tbl][108][3]" value=""><input type="file" id="forms-attach_tbl-108-3" class="attach_inp" name="Forms[attach_tbl][108][3]" accept="application/pdf"><label class="attach-label" for="forms-attach_tbl-108-3">
													<svg class="icon-svg-attach" style="">
														<use xlink:href="/frontend/web/img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
													</svg>
												</label>
													<div class="attach_inp-txt"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="subcat-t-row">
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-105-3" name="Forms[table][17][105][3]" rows="1" rule-id="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-106-3" name="Forms[table][17][106][3]" rows="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<textarea id="forms-table-17-107-3" name="Forms[table][17][107][3]" rows="1"></textarea>
											<div class="answ_err-container" style="opacity: 0;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt"></div>
												</div>
											</div>
										</div>
										<div class="subcat-t-cell">
											<div class="answ_err-container answ_err-container-attach" style="opacity: 1;">
												<div class="answ_err">
													<div class="answ_err-ico">
														<svg class="icon-svg-err">
															<use xlink:href="" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</div>
													<div class="answ_err-txt">dsadasdsa</div>
												</div>
											</div>
											<div class="attach-f">
												<div class="attach-f-wrap">
													<input type="hidden" name="Forms[attach_tbl][108][3]" value="">
													<input type="file" id="forms-attach_tbl-108-3" class="attach_inp" name="Forms[attach_tbl][108][3]" accept="application/pdf">
													<label class="attach-label" for="forms-attach_tbl-108-3">
														<svg class="icon-svg-attach" style="">
															<use xlink:href="/frontend/web/img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
														</svg>
													</label>
													<div class="attach_inp-txt">123213213</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<div class="add-t-row-1 add-t-row-123">+ Добавить строку</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">59</div>
			<div class="cat-row_q_box">
				<div class="subcat-row subcat-row_2cols-2">
					<div class="subcat-col subcat_q"><span>Сумма денежных средств, затраченных Компанией на приобретение СИЗ в прошлом году (грн/дол)</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">60</div>
			<div class="cat-row_q_box">
				<div class="subcat-row subcat-row_2cols-3">
					<div class="subcat-col subcat_q"><span>Информация о затратах Компании на охрану труда в абсолютных цифрах и в % отношении к фонду оплаты труда. Период - прошлый год.</span></div>
					<div class="subcat-col subcat_answ">
						<div class="cat-row_q_box">
							<div class="cat-row_subq">
								<div class="cat-col cat_q"><span>гр. / UAH</span></div>
								<div class="cat-col cat_q">
									<span>%</span>
								</div>
							</div>
							<div class="cat-row_subq">
								<div class="cat-col cat_answ"><textarea rows="1"></textarea></div>
								<div class="cat-col cat_answ">
									<textarea rows="1"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">61</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Информация о действующей в Компании системе управления охраной труда (Копия положения о СУОТ на предприятии)</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-99" class="attach_inp"/> <label for="attach_inp-99" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">62</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Информация о травматизме на предприятии за прошедшие 3 года (Копии форм № 7-тнв)</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-98" class="attach_inp"/> <label for="attach_inp-98" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">63</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Копия справки о регистрации в Криворожском горнопромышленном территориальном управлении (для иногородних организаций)</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-97" class="attach_inp"/> <label for="attach_inp-97" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">64</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Сведения о страховании работников организации от несчастного случая в Фонде социального страхования от несчастных случаев и профессиональных заболеваний								</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-96" class="attach_inp"/> <label for="attach_inp-96" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>





