<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>УВАЖЕНИЕ ПРАВ ЧЕЛОВЕКА</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row">
						<div class="subcat-col subcat_q">
							<span>Политика о правах человека компании ArcelorMittal охватывает такие правовые стандарты трудовой деятельности: продвижение принципа свободы объединений, устранение принудительного/обязательного труда, выступление против детского труда, устранение дискриминации на рабочем месте, устранение притеснений и насилия, обеспечение конкурентноспособной зароботной платы и соблюдение условий труда.</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">44</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Имеет ли Ваша Компания кодекс делового поведения либо утвердженный документ (письменную политику), который поддерживает правовые стандарты трудовой деятельности, установленные Политикой о правах человека Группы ArcelorMittal?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-21" class="attach_inp"/> <label for="attach_inp-21" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">45</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Является ли Ваша Компания подписантом или членом организации, которая пропагандирует права человека в цепочке поставок (например, являясь одной из сторон Глобального договора ООН, имея общественные обязательства перед стандартами МОТ, этической торговой инициативой и др.)	</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">46</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеет ли Ваша Компания антидискриминационную политику, запрещающую дискриминацию по возрасту, полу, сексуальной ориентации, этнической или расовой принадлежности, по цвету кожи, национальности, культурному происхождению, религии, физическим недостаткам, ВИЧ-статусу, социальному классу, образованию, служебному положению, политическим взглядам или несвязанную с бизнесом Компании судимость (это не полный перечень)?	</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>





