<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>ФИНАНСОВАЯ ИНФОРМАЦИЯ</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>



	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">12</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-head">Налоговый номер</div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q important"><span>Индивидуальный налоговый номер для кредиторов Украины и России <span class="__lgrey">(ИНН)</span></span></div>
					<div class="subcat-col subcat_answ_attach">

						<div class="answ_err-container answ_err-container-attach">
							<div class="answ_err">
								<div class="answ_err-ico">
									<svg class="icon-svg-err">
										<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="answ_err-txt">Неверный формат</div>
							</div>
						</div>

						<div class="answ_err-container r38">
							<div class="answ_err">
								<div class="answ_err-ico">
									<svg class="icon-svg-err">
										<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="answ_err-txt">Неверный формат</div>
							</div>
						</div>





						<textarea rows="1"></textarea>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-4" class="attach_inp"/> <label for="attach_inp-4" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Код Единого Государственного Реестра Предприятий и Организаций Украины <span class="__lgrey">(для предприятий Украины)</span> и Код поставщика продукции <span class="__lgrey">(для предприятий России)</span></span></div>
					<div class="subcat-col subcat_answ_attach">
						<textarea rows="1"></textarea>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-5" class="attach_inp"/> <label for="attach_inp-5" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Номер свидетельства регистрации плательщика НДС</span></div>
					<div class="subcat-col subcat_answ_attach">
						<textarea rows="1"></textarea>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-6" class="attach_inp"/> <label for="attach_inp-6" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">13</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Предоставьте копию налоговой декларации по налогу на прибыль с приложениями</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-7" class="attach_inp"/> <label for="attach_inp-7" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">14</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Предоставьте сообщение о взятии на учет плательщика единого взноса <span class="__lgrey">(только для подрядчиков - физических лиц)</span> или справку ЕГРПОУ <span class="__lgrey">(только для подрядчиков-юридических лиц)</span></span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-8" class="attach_inp"/> <label for="attach_inp-8" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">15</div>
			<div class="cat-row_q_box-container">
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Предоставьте информацию по форме 1-ДФ <span class="__lgrey">(Доходы физических лиц)</span> за период - последние 2 квартала <span class="__lgrey">(Обязательно либо вложение либо комментарий)</span></span></div>
					<div class="subcat-col subcat_answ_attach">
						<textarea rows="1"></textarea>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-9" class="attach_inp"/> <label for="attach_inp-9" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">16</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Предоставьте копию выписки из единого государственного реестра юридических лиц и физических лиц-предпринимателей недельного срока давности на момент предоставления анкеты</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-10" class="attach_inp"/> <label for="attach_inp-10" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num _n__important">17</div>
			<div class="cat-row_q_box">
				<div class="subcat-row subcat-head">Банковские данные</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Имя банка</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Имя банка <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Адрес банка</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Страна</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Страна <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Город</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Город <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Улица/номер дома/номер офиса</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Улица <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q">
						<span>Ключ <span class="__lgrey">(код)</span> банка</span>
						<div class="q_tip-container">
							<div class="q_tip">
								<div class="q_tip-ico">
									<svg class="icon-svg-tip">
										<use xlink:href="img/sprite.svg#tip" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="q_tip-txt">DUNS номер (для Универсальной Системы Нумерации Данных) является уникальным идентификатором для бизнеса. DUNS номера присваиваются и поддерживаются компанией Dun & Bradstreet (D & B). Если у Вас нет номера DUNS вы должны подать заявление на присвоение Вашей компании такого номера. Вы должны зарегистрировать каждое из ваших местоположений с собственным номером DUNS</div>
							</div>
						</div>
					</div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Филиал банка</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Филиал банка <span class="__lgrey">(латинскими буквами)</span></span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Банковский <span class="__lgrey">(расчетный)</span> счет</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>SWIFT</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q">
						<span>Контрольный банковский ключ</span>
						<div class="q_tip-container">
							<div class="q_tip">
								<div class="q_tip-ico">
									<svg class="icon-svg-tip">
										<use xlink:href="img/sprite.svg#tip" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="q_tip-txt"><span>DUNS номер (для Универсальной Системы Нумерации Данных) является уникальным идентификатором для бизнеса. DUNS номера присваиваются и поддерживаются компанией Dun & Bradstreet (D & B). Если у Вас нет номера DUNS вы должны подать заявление на присвоение Вашей компании такого номера. Вы должны зарегистрировать каждое из ваших местоположений с собственным номером DUNS</span></div>
							</div>
						</div>
					</div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>IBAN</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">18</div>
			<div class="cat-row_q_box-container">
				<div class="subcat-row subcat-row_2cols">
					<div class="subcat-col subcat_q"><span>Совокупный годовой оборот за два последних года / вложение: Баланс , Отчет о финансовых результатах</span></div>
					<div class="subcat-col subcat_answ_attach">
						<textarea rows="1"></textarea>

						<div class="answ_err-container r38">
							<div class="answ_err">
								<div class="answ_err-ico">
									<svg class="icon-svg-err">
										<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="answ_err-txt">Неверный формат</div>
							</div>
						</div>

						<div class="answ_err-container answ_err-container-attach">
							<div class="answ_err">
								<div class="answ_err-ico">
									<svg class="icon-svg-err">
										<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</div>
								<div class="answ_err-txt">Неверный формат</div>
							</div>
						</div>



						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-11" class="attach_inp"/> <label for="attach_inp-11" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="cat-row">
			<div class="cat-col cat_num">19</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q">
							<span>Составьте перечень 5 своих крупнейших заказчиков в порядке убывания доли поставки или выполненных для них объемов работ и предоставьте референс-лист:</span>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-12" class="attach_inp"/> <label for="attach_inp-12" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
						<div class="subcat-col subcat_answ">
							<div class="subcat-table subcat-table-6cols">
								<div class="subcat-t-row subcat-t-name">
									<div class="subcat-t-cell">№</div>
									<div class="subcat-t-cell">Название и адрес Заказчика</div>
									<div class="subcat-t-cell">Контактные данные</div>
									<div class="subcat-t-cell">Вид поставленных материалов/оказываемых услуг</div>
									<div class="subcat-t-cell">Годовой оборот</div>
									<div class="subcat-t-cell">% от общего оборота</div>
								</div>
								<div class="subcat-t-row">
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
									<div class="subcat-t-cell"><textarea rows="1"></textarea></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">20</div>
			<div class="cat-row_q_box">
				<div class="subcat-row subcat-head">Зарегистрированный адрес Компании</div>
				<div class="subcat-row subcat-row_5cols subcat-row_5cols__head">
					<div class="subcat-col">Количество занятого персонала:</div>
					<div class="subcat-col">Руководители</div>
					<div class="subcat-col">Линейные руководители</div>
					<div class="subcat-col">Рабочие</div>
					<div class="subcat-col">Всего</div>
				</div>
				<div class="subcat-row subcat-row_5cols">
					<div class="subcat-col subcat_q"><span>Постоянные кадры</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_5cols">
					<div class="subcat-col subcat_q"><span>Временные наёмные работники</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>
				<div class="subcat-row subcat-row_5cols">
					<div class="subcat-col subcat_q"><span>Итого:</span></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
					<div class="subcat-col subcat_answ"><textarea rows="1"></textarea></div>
				</div>


			</div>
		</div>




	</div>
</div>





