<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">65</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q_download">
							<span>Во вложении находится подписанное письмо о Кодексе ответственного сорсинга</span> <a href="">Скачать вложение</a>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-95" class="attach_inp"/> <label for="attach_inp-95" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">66</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q_download">
							<span>Соглашение о предоставлении гарантий (Соглашение можно скачать по ссылке ниже. Пожалуйста предоставьте сканкопию подписанного Соглашения с печатью компании) - Данный пункт является обязательным, если адрес регистрации компании - Донецкая или Луганская области</span> <a href="">Скачать вложение</a>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-94" class="attach_inp"/> <label for="attach_inp-94" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">67</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q_download">
							<span>Подписать и предоставить сканкопию письма-подтверждение прохождения обучения Положению АрселорМиттал по борьбе с коррупцией</span> <a href="">Скачать вложение</a>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-93" class="attach_inp"/> <label for="attach_inp-93" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cat-row">
			<div class="cat-col cat_num">68</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q_download">
							<span>Подписать и предоставить Антикоррупционный сертификат	</span> <a href="">Скачать вложение</a>
							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-92" class="attach_inp"/> <label for="attach_inp-92" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">69</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_full">
						<div class="subcat-col subcat_q_download">
							<span>Соглашение о соблюдении антикоррупционного законодательства (Соглашение можно скачать по ссылке ниже. Пожалуйста предоставьте сканкопию подписанного Соглашения с печатью компании) </span> <a href="">Скачать вложение</a>

							<div class="answ_err-container">
								<div class="answ_err">
									<div class="answ_err-ico">
										<svg class="icon-svg-err">
											<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
										</svg>
									</div>
									<div class="answ_err-txt">Неверный формат</div>
								</div>
							</div>


							<div class="answ_err-container answ_err-container-attach">
								<div class="answ_err">
									<div class="answ_err-ico">
										<svg class="icon-svg-err">
											<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
										</svg>
									</div>
									<div class="answ_err-txt">Неверный формат</div>
								</div>
							</div>


							<div class="attach-f">
								<div class="attach-f-wrap">
									<input type="file" id="attach_inp-91" class="attach_inp"/> <label for="attach_inp-91" class="attach-label">
									<svg class="icon-svg-attach">
										<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
									</svg>
								</label>
									<div class="attach_inp-txt"></div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>





