<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>УПРАВЛЕНИЕ ОКРУЖАЮЩЕЙ СРЕДОЙ</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">47</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Имеет ли Ваша Компания политику по охране окружающей среды?</span>
							<div class="answ_err-container">
								<div class="answ_err">
									<div class="answ_err-ico">
										<svg class="icon-svg-err">
											<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
										</svg>
									</div>
									<div class="answ_err-txt">Неверный формат</div>
								</div>
							</div>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-21" class="attach_inp"/> <label for="attach_inp-21" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">48</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеет ли Ваша Компания систему управления охраной окружающей среды?</span>
							<div class="answ_err-container">
								<div class="answ_err">
									<div class="answ_err-ico">
										<svg class="icon-svg-err">
											<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
										</svg>
									</div>
									<div class="answ_err-txt">Неверный формат</div>
								</div>
							</div>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">49</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Если Вы ответили "нет" на предыдущий вопрос, планирует ли Ваша компания получить сертификацию?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>





	</div>
</div>





