<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>КАЧЕСТВО, ОХРАНА ЗДОРОВЬЯ И ТРУДА</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num">36</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Имеет ли Ваша Компания Кодекс делового поведения или утвержденный документ (письменная политика), который поддерживает этические правила ведения бизнеса?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
					<div class="subcat-row subcat-row_textarea">
						<textarea rows="1"></textarea>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num _n__important">37</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Имеет ли Ваша компания Программу Ориентации на Охрану Труда (Политикe в области охраны труда)?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-13" class="attach_inp"/> <label for="attach_inp-13" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">38</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_radio_attach">
						<div class="subcat-col subcat_q">
							<p>Сертифицирована ли ваша система управления ОТ и ТБ по глобально признанному стандарту (например, OHSAS 18001 или равноценный ему)?</p>

							<div class="radio-box">
								<div class="radio-row">
									<input type="radio" name="r1" class="radio" id="radio1" checked/> <label for="radio1">Нет, ни один из наших заводов не сертифицирован по общепринятой системе управления ОТ и ТБ</label>
								</div>
								<div class="radio-row">
									<input type="radio" name="r1" class="radio" id="radio2"/> <label for="radio2">Некоторые заводы сертифицированы по общепринятой системе, и мы находимся на стадии сертификации остальных. Пожалуйста, предоставьте копию сертификатов этих заводов.</label>
							аводов.class="attach-f">
										<div class="attach-f-wrap">
											<input type="file" id="attach_inp-14" class="attach_inp"/> <label for="attach_inp-14" class="attach-label">
											<svg class="icon-svg-attach">
												<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
											</svg>
										</label>
											<div class="attach_inp-txt"></div>
										</div>
									</div>
								</div>
								<div class="radio-row">
									<input type="radio" name="r1" class="radio" id="radio3"/> <label for="radio3">Некоторые заводы сертифицированы по общепринятой системе, и мы находимся на стадии сертификации остальных. Пожалуйста, предоставьте копию сертификатов этих заводов.</label>
									<div class="attach-f">
										<div class="attach-f-wrap">
											<input type="file" id="attach_inp-15" class="attach_inp"/> <label for="attach_inp-15" class="attach-label">
											<svg class="icon-svg-attach">
												<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
											</svg>
										</label>
											<div class="attach_inp-txt"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">39</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span class="txtImportant">Ваша компания ведёт учёт показателей безопасности ваших работников? Опасное происшествие/ несчастные случаи/ коэффициент частоты (Кч), коэффициент тяжести (Кт)? Пожалуйста, предоставьте  документацию по собственному персоналу за 3 последних года (опасное происшествие/несчастные случаи/ коэффициент частоты (Кч), коэффициент тяжести (Кт)). Год 1:, Год 2:, Год 3:.</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-16" class="attach_inp"/> <label for="attach_inp-16" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">40</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Ваша компания ведёт учёт показателей безопасности ваших подрядчиков? Опасное происшествие/ несчастные случаи/ коэффициент частоты (Кч), коэффициент тяжести (Кт)? Пожалуйста, предоставьте  документацию по вашим подрядчикам за 3 последних года (опасное происшествие/несчастные случаи/ коэффициент частоты (Кч), коэффициент тяжести (Кт)). Год 1:, Год 2:, Год 3:.</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-17" class="attach_inp"/> <label for="attach_inp-17" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">41</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Ваша компания ведёт учёт смертельных НС, которые произошли с вашими работниками и вашими подрядчиками? Пожалуйста, предоставьте  документацию (консолидированное количество по собственному персоналу и вашим  подрядчикам).  Год 1:, Год 2:, Год 3:.</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-18" class="attach_inp"/> <label for="attach_inp-18" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">42</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>Имеет ли Ваша компания Политику СИЗ (нормы обеспеченности СИЗ, положение по обеспечению работников СИЗ)? Если да, предоставьте копию.</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-19" class="attach_inp"/> <label for="attach_inp-19" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num _n__important">43</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select_attach">
						<div class="subcat-col subcat_q">
							<span>В вашей компании определены цели и задачи в области охраны труда (Положение СУОТ, план мероприятий по ОТ и ПБ)?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
						<div class="attach-f">
							<div class="attach-f-wrap">
								<input type="file" id="attach_inp-20" class="attach_inp"/> <label for="attach_inp-20" class="attach-label">
								<svg class="icon-svg-attach">
									<use xlink:href="img/sprite.svg#attach" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</label>
								<div class="attach_inp-txt"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>





