<div class="form-catigories">
	<div class="cat-row cat-head">
		<span>КОНФЛИКТ ИНТЕРЕСОВ</span>
		<div class="arr_up">
			<svg class="icon-svg-arr-up">
				<use xlink:href="img/sprite.svg#arr-up" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
			</svg>
		</div>
	</div>


	<div class="cat-container">

		<!--cat q TYPE 1-->

		<div class="cat-row">
			<div class="cat-col cat_num">21</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Связаны ли каким-либо образом Ваша Компания или сотрудники, работающие сейчас или в прошлом от ее имени, с АМКР или другими предприятиями группы ArcelorMittal (например, владелец, партнер, руководитель высшего звена или директор)?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
								<option value="выбор2" name="select2-option">выбор2</option>
								<option value="выбор3" name="select3-option">выбор3</option>
								<option value="выбор4" name="select4-option">выбор4</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="cat-row">
			<div class="cat-col cat_num">22</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Состоят ли Ваша Компания или сотрудники, работающие от ее имени, с государственными чиновниками или работниками государственных органов, политическими партиями или кандидатами, или с членами семьи выше перечисленных людей в финансовых, родственных, семейных связях?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">23</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Состоят ли Ваша Компания или сотрудники, работающие от ее имени, с клиентами (или директорами, или сотрудниками клиентов) или поставщиками (или директорами, или сотрудниками поставщиков) АМКР в финансовых, родственных, семейных связях?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="cat-row">
			<div class="cat-col cat_num">24</div>
			<div class="cat-row_q_box-container">
				<div class="cat-row_q_box">
					<div class="subcat-row subcat-row_q_select">
						<div class="subcat-col subcat_q subcat_select_q">
							<span>Состоят ли Ваша Компания или сотрудники, работающие от ее имени, с директором или сотрудниками Группы ArcelorMittal в финансовых, родственных, семейных связях?</span>
						</div>
						<div class="subcat-col subcat_select">
							<select name="select1" class="form-select" required>
								<option value="" name="choose" disabled selected>Выберите</option>
								<option value="выбор1" name="select1-option">выбор1</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>





