//* {
//	padding: 0;
//	margin: 0;
//}
//li {
//	list-style: none;
//	display: inline-block;
//	float: left;
//}
.wraper {
	position: relative;
	margin: auto;
	//margin-top: 250px;
	width: 390px;
	overflow: hidden;
	border: 4px solid #1a96b7;
	border-radius: 2px;
	box-sizing: content-box;
	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 1;
		width: 0;
		height: 0;
		transform: translateX(-50%);
		border-top: 20px solid #1a96bf;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
}

.rullet-container {
	overflow: hidden;
	position: relative;
	width: 25000px;
	//height: 143px;
	right: 0px;
	transform: translate3d(0, 0 ,0);
	will-change: transform;
	transition: transform 7s ease-in-out;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	

}



.rullet {
	position: relative;
	display: flex;
	justify-content: flex-start;
	
	li {
		height: 130px;
	}
	
	li img {
		width: 130px;
		height: 130px;
	}
}
