<div class="form-sucsess">
	<div class="form form-head">
		<div class="container">
			<div class="logo">
				<img src="/img/logo-black.png" alt="">
			</div>
			<!--<h1>Анкета подрядчика</h1>-->
			<!--<p class="sub-header">Мы в ArcelorMittal понимаем, что не у всех будет возможность предоставить полную информацию, которая требуется в форме, за один раз. Мы заботимся о наших партнерах, даже потенциальных, потому <b>когда Вы нажмете на кнопку “ОТПРАВИТЬ”, заполненные Вами данные сохранятся, даже если Вы не заполнили форму до конца.</b></p>-->
			<p class="header-txt">Спасибо. Все необходимые данные предоставлены, форма передана на рассмотрение наших специалистов</p>
			<div class="f-sucsess-svg-1">
				<svg class="icon-svg-mail">
					<use xlink:href="img/sprite.svg#mail" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
			</div>
			<a href="" class="back-to-main">
				<svg class="icon-svg-home">
					<use xlink:href="img/sprite.svg#home" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
				</svg>
				<span>НА ГЛАВНУЮ</span>
			</a>
			<!--<p class="header-reminder">Для вопросов, отмеченных (<span class="required">*</span>) обязательно предоставление подтверждающих документов</p>-->
		</div>
	</div>
</div>