<div class="main-sucsess">
	<div class="container">
		<div class="logo"><img src="/img/logo_new.png" alt="logo"></div>
		<!--<h1>Registration for vendors</h1>-->
		<p class="common-txt">Please familiarize with the information by the links below. It will help you to fill out the questionnaire quicker and in more quality manner.</p>
		<div class="top-form-wrapper">
			<div class="top-form-container">
				<div class="top-form">
					<ul class="instr-links">
						<li class="instr-links-it"><a href="" target="_blank">General instrcution</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Addendum #1</a></li>
						<li class="instr-links-it"><a href="" target="_blank">List of prohibited supplies #2</a></li>
						<li class="instr-links-it"><a href="" target="_blank">List of prohibited supplies #3</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Rulings of AMKR</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Vendor Guideline</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
						<li class="instr-links-it"><a href="" target="_blank">Roadmap for intermediary suppliers</a></li>
					</ul>
				</div>
				<div class="agree">
					<label> <input class="checkbox" type="checkbox" name="checkbox-test"/> <span class="checkbox-custom">
								<svg class="icon-svg-check-in">
									<use xlink:href="img/sprite.svg#check-in" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
								</svg>
							</span> <span class="label">
								<span>I accept the <a href="" target="_blank">AMKR Terms and Conditions</a></span>
								<div class="answ_err-container">
									<div class="answ_err">
										<div class="answ_err-ico">
											<svg class="icon-svg-err">
												<use xlink:href="img/sprite.svg#err" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
											</svg>
										</div>
										<div class="answ_err-txt">Неверный формат</div>
									</div>
								</div>
							</span> </label>
				</div>
				<a href="" class="agree-btn">GO TO QUESTIONNAIRE</a>
			</div>
		</div>
	</div>
</div>