<div class="main">
	<div class="container">
			<div class="logo"><img src="/img/logo_new.png" alt="logo"></div>
			<h1>Registration for vendors</h1>
			<div class="top-form-wrapper">
				<div class="top-form">
					<h2 class="form-header">New questionnaire</h2>
					<p class="form-sub-header">If you have not started the questionnaire,<br>please choose country and vendor type to begin the questionnaire.</p>
					<form action="" name="top-form" id="top-form">
						<div class="top-select-common">
							<select name="country" class="top-select" required>
								<option value="" name="Country" disabled selected>Country</option>
								<option value="Ukraine" name="country-option">Ukraine</option>
							</select> <span class="err err__country">Please, choose country</span>
						</div>
						<div class="top-select-common">
							<select name="vendor" class="top-select" required>
								<option value="" name="vendor-option" disabled selected><span>Vendor type</span></option>
								<option value="Supplier" name="vendor-option">Supplier</option>
								<option value="Intermediary supplier" name="vendor-option">Intermediary supplier</option>
								<option value="Manafacturer" name="vendor-option">Manafacturer</option>
							</select>
							<span class="err err__vendor">Please, choose vendor type</span>
						</div>
						<div class="top-input-common">
							<input type="text" class="top-inp" placeholder="Email"/>
							<span class="err err__vendor">Please, choose vendor type</span>
						</div>

						<button type="submit" form="top-form" class="top-form-btn">CONTINUE</button>
					</form>
				</div>
			</div>
			<div class="mailing-first-step">
				<h2 class="b-header">Continue filling out the questionnaire</h2>
				<p class="b-sub-header">If you have already started filling out the questionnaire on this site, enter the email you entered while you had been filling out the<br>form. You will get a confirmation of access and continue woirking on the questionnaire.</p>
				<div class="b-form">
					<form action="" name="b-mail" id="b-mail">
						<input type="email" name="email" id="" class="b-form-inp" placeholder="Email" required/>
						<button type="submit" form="b-mail" class="b-form-btn">SEND</button>
					</form>
					<span class="err err__empty">Please enter your email</span>
					<span class="err err__not_valid">Please enter an email of valid format</span>
					<span class="err err__not_length">Email can't be comprised of more than 100 characters</span>
				</div>
			</div>
			<div class="mailing-second-step">
				<h2 class="b-header">Thank you for the willingness to continue the registration</h2>
				<p class="b-sub-header-second">Please check your email <span class="email-data">anomikonerus13@gmail.com</span> for the letter of confirmation. Once you get to it, please click on a link in that email and you will go straight up to your incomplete form.</p>
				<p class="b-sub-header-second"><b>Still received no message?</b> Please search your spam folder. If the email is not there, you can resend it in <span class="timer">59</span> sec</p>
				<button type="button" class="resend-letter">RESEND EMAIL</button>
			</div>
		</div>

</div>