@font-face {
    font-family: 'VAGRoundedLight';
    src: url('fonts/VAGRoundedLight.eot');
    src: url('fonts/VAGRoundedLight.eot') format('embedded-opentype'),
         url('fonts/VAGRoundedLight.woff2') format('woff2'),
         url('fonts/VAGRoundedLight.woff') format('woff'),
         url('fonts/VAGRoundedLight.ttf') format('truetype'),
         url('fonts/VAGRoundedLight.svg#VAGRoundedLight') format('svg');
}
