@font-face {
    font-family: 'VAGRoundedThin';
    src: url('fonts/VAGRoundedThin.eot');
    src: url('fonts/VAGRoundedThin.eot') format('embedded-opentype'),
         url('fonts/VAGRoundedThin.woff2') format('woff2'),
         url('fonts/VAGRoundedThin.woff') format('woff'),
         url('fonts/VAGRoundedThin.ttf') format('truetype'),
         url('fonts/VAGRoundedThin.svg#VAGRoundedThin') format('svg');
}
