@font-face {
    font-family: 'VAGRoundedBlack';
    src: url('fonts/VAGRoundedBlack.eot');
    src: url('fonts/VAGRoundedBlack.eot') format('embedded-opentype'),
         url('fonts/VAGRoundedBlack.woff2') format('woff2'),
         url('fonts/VAGRoundedBlack.woff') format('woff'),
         url('fonts/VAGRoundedBlack.ttf') format('truetype'),
         url('fonts/VAGRoundedBlack.svg#VAGRoundedBlack') format('svg');
}
