@import "mixins";

%vbl {
	font-family: "VAGRoundedBlack", sans-serif;
}

%vbo {
	font-family: "VAGRoundedBold", sans-serif;
}

%vl {
	font-family: "VAGRoundedLight", sans-serif;
	font-weight: 300;
}

%vt {
	font-family: "VAGRoundedThin", sans-serif;
}

%ar {
	font-family: Arial, sans-serif;
	font-weight: 400;
}

%ab {
	font-family: Arial, sans-serif;
	font-weight: 700;
}
%al {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
}



.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

$breakpoints: (
		"small" : 600px,
		"medium" : 900px,
		"large" : 1920px
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;
$placeholders: ();

//
//@include placeholder('clear') {
//  clear: both;
//  overflow: hidden;
//}

@include placeholder('f-c-c') {
	display: flex;
	justify-content: center;
	align-items: center;
}

@include placeholder('fc-c-c') {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@include placeholder('fc-fs-c') {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@include placeholder('fc-c-fs') {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}




@include placeholder('f-aic') {
	display: flex;
	align-items: center;
}
@include placeholder('f-jcc') {
	display: flex;
	justify-content: center;
}


@include placeholder('f-sb-c') {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@include placeholder('f-sb') {
	display: flex;
	justify-content: space-between;
}


@include placeholder('f-fe-c') {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin prop_svg($w, $h) {
	width: $w + px;
	height: $h + px;
}

//svg {
//  @include prop_svg(15,25);
//}

//
//.header-content-right {
//  @include _(f-c-c);
//}
//
//@include breakpoint(large) {
//  .header-content-right {
//    @include _(f-c-c);
//  }
//}






