@mixin font-face($fontName) {
	font-family: $fontName;
	src: url("../fonts/" +$fontName+ "/" +$fontName+ ".eot");
	src: url("../fonts/" +$fontName+ "/" +$fontName+ ".eot") format('embedded-opentype'),
url("../fonts/" +$fontName+ "/" +$fontName+ ".woff2") format('woff2'),
url("../fonts/" +$fontName+ "/" +$fontName+ ".woff") format('woff'),
url("../fonts/" +$fontName+ "/" +$fontName+ ".ttf") format('truetype'),
url("../fonts/" +$fontName+ "/" +$fontName+ ".svg#" +$fontName) format('svg');
}

@mixin breakpoint($breakpoint) {
	// Get the width from the keyword `$breakpoint`
	// Or `null` if the keyword doesn't exist in `$breakpoints` map
	$value: map-get($breakpoints, $breakpoint);
	
	// If `$breakpoint` exists as a key in `$breakpoints`
	@if $value != null {
		// Update `$current-breakpoint`
		$current-breakpoint: $breakpoint !global;
		
		// Open a media query block
		@media (min-width: $value) {
			// Let the user dump content
			@content;
		}
		
		// Then reset `$current-breakpoint` to `$default-breakpoint` (root)
		$current-breakpoint: $default-breakpoint !global;
	}
		
		// If `$breakpoint` doesn't exist in `$breakpoints`,
		// Warn the user and do nothing
	@else {
		@warn "Invalid breakpoint `#{$breakpoint}`.";
	}
}

@mixin placeholder($name) {
	// If placeholder doesn't exist yet in `$placeholders` list
	@if not index($placeholders, $name) {
		// Store its name
		$placeholders: append($placeholders, $name) !global;
		
		// At root level
		@at-root {
			// Looping through `$breakpoints`
			@each $breakpoint, $value in $breakpoints {
				// Opening a media query block
				@media (min-width: $value) {
					// Generating a placeholder
					// Called $name-$breakpoint
					%#{$name}-#{$breakpoint} {
						@content;
					}
				}
			}
			
			// And dumping a placeholder out of any media query as well
			// so basically at root level
			%#{$name}-#{$default-breakpoint} {
				@content;
			}
		}
	}
		
		// If placeholder already exists, just warn the user
	@else {
		@warn "Placeholder `#{$name}` already exists.";
	}
}

@mixin _($name) {
	@extend %#{$name}-#{$current-breakpoint} !optional;
}







