.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-up {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-attach {
	font-size:(14/10)*1rem;
	width:(7/14)*1em;
}
.icon-check-in {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-check-off {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-err {
	font-size:(16/10)*1rem;
	width:(15/16)*1em;
}
.icon-home {
	font-size:(17/10)*1rem;
	width:(20/17)*1em;
}
.icon-mail {
	font-size:(150/10)*1rem;
	width:(214/150)*1em;
}
.icon-send {
	font-size:(18/10)*1rem;
	width:(21/18)*1em;
}
.icon-sucsess {
	font-size:(150/10)*1rem;
	width:(144/150)*1em;
}
.icon-tip {
	font-size:(13/10)*1rem;
	width:(13/13)*1em;
}
