@charset "UTF-8";
.main .form-header, .main .b-header {
  font-family: "VAGRoundedBold", sans-serif; }

.main h1 {
  font-family: "VAGRoundedLight", sans-serif;
  font-weight: 300; }

.main .form-sub-header, .main .top-select, .main .top-inp, .main .err, .main .top-form-btn, .main .b-sub-header, .main .b-form input, .main .b-form .b-form-btn, .main .b-sub-header-second, .main .resend-letter, .main-sucsess .instr-links a, .main-sucsess .label, .main-sucsess .label .answ_err-txt, .main-sucsess .agree-btn, .form-head h1, .form-footer h1, .form-head .sub-header, .form-footer .sub-header, .form-head .header-txt, .form-footer .header-txt, .form-content .q_tip-txt, .form-content .answ_err-txt, .form-content .cat-head.cat-head-err .cat-head-err-content, .form-content .cat-row .cat_q, .form-content .cat-row_subq .cat_q, .form-content .subcat-row_2cols .cat_q, .form-content .cat-row .cat_answ textarea, .form-content .cat-row_subq .cat_answ textarea, .form-content .subcat-row_2cols .cat_answ textarea, .form-content .subcat-row_2cols .subcat_q, .form-content .subcat-row_2cols-2 .subcat_q, .form-content .subcat-row_2cols-3 .subcat_q, .form-content .subcat-row_2cols .subcat_q.important > span:after, .form-content .subcat-row_2cols-2 .subcat_q.important > span:after, .form-content .subcat-row_2cols-3 .subcat_q.important > span:after, .form-content .subcat-row_2cols .subcat_answ textarea, .form-content .subcat-row_2cols .subcat_answ_attach textarea, .form-content .subcat-row_2cols-2 .subcat_answ textarea, .form-content .subcat-row_2cols-2 .subcat_answ_attach textarea, .form-content .subcat-row_2cols-3 .subcat_answ textarea, .form-content .subcat-row_2cols-3 .subcat_answ_attach textarea, .form-content .subcat-row_3cols .subcat_q, .form-content .subcat-row_3cols .subcat_answ textarea, .form-content .subcat-row_5cols .subcat_q, .form-content .subcat-row_5cols .subcat_answ textarea, .form-content .subcat-row_5cols__head .subcat-col, .form-content .cat_num, .form-content .cat_num._n__important:after, .form-content .subcat-row_q_full, .form-content .subcat-row_q_full .subcat_q_download a, .form-content .subcat-row_q_full .subcat-table .subcat-t-row .subcat-t-cell textarea, .form-content .q_full_center, .form-content .subcat_select select, .form-content .subcat_q, .form-content .subcat_q_download, .form-content .subcat-row_textarea textarea, .form-content .add-t-row, .form-content .add-textarea, .form-content .add-t-row-1, .form-content .dynamic-textarea-container textarea, .form-content .txtImportant:after {
  font-family: Arial, sans-serif;
  font-weight: 400; }

.main-sucsess .common-txt, .fixedContent .container span, .form-head .header-reminder, .form-footer .header-reminder, .form-footer button, .form-content .cat-head, .form-content .subcat-head, .form-content .subcat-row_3cols__head .subcat-col, .form-content .subcat-row_q_full .subcat_t-head, .form-sucsess .back-to-main span {
  font-family: Arial, sans-serif;
  font-weight: 700; }

.form-content .attach_inp-txt {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: italic; }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/*
================================================================================
|                                     reset                                     |
================================================================================
*/
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

ul, menu, p {
  padding: 0;
  margin: 0; }

input, textarea {
  outline: 0;
  border: 0; }

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }

html, body {
  font-size: 14px; }

body {
  position: relative;
  font-weight: normal;
  margin: 0 auto;
  padding: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none;
  cursor: default; }

a {
  text-decoration: none;
  color: inherit; }

button {
  display: block;
  font: inherit;
  line-height: normal;
  color: inherit;
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

/*
================================================================================
|                                     Fonts                                    |
================================================================================
*/
@font-face {
  font-family: "VAGRoundedBlack";
  src: url("../fonts/VAGRoundedBlack/VAGRoundedBlack.eot");
  src: url("../fonts/VAGRoundedBlack/VAGRoundedBlack.eot") format("embedded-opentype"), url("../fonts/VAGRoundedBlack/VAGRoundedBlack.woff2") format("woff2"), url("../fonts/VAGRoundedBlack/VAGRoundedBlack.woff") format("woff"), url("../fonts/VAGRoundedBlack/VAGRoundedBlack.ttf") format("truetype"), url("../fonts/VAGRoundedBlack/VAGRoundedBlack.svg#VAGRoundedBlack") format("svg"); }

@font-face {
  font-family: "VAGRoundedBold";
  src: url("../fonts/VAGRoundedBold/VAGRoundedBold.eot");
  src: url("../fonts/VAGRoundedBold/VAGRoundedBold.eot") format("embedded-opentype"), url("../fonts/VAGRoundedBold/VAGRoundedBold.woff2") format("woff2"), url("../fonts/VAGRoundedBold/VAGRoundedBold.woff") format("woff"), url("../fonts/VAGRoundedBold/VAGRoundedBold.ttf") format("truetype"), url("../fonts/VAGRoundedBold/VAGRoundedBold.svg#VAGRoundedBold") format("svg"); }

@font-face {
  font-family: "VAGRoundedLight";
  src: url("../fonts/VAGRoundedLight/VAGRoundedLight.eot");
  src: url("../fonts/VAGRoundedLight/VAGRoundedLight.eot") format("embedded-opentype"), url("../fonts/VAGRoundedLight/VAGRoundedLight.woff2") format("woff2"), url("../fonts/VAGRoundedLight/VAGRoundedLight.woff") format("woff"), url("../fonts/VAGRoundedLight/VAGRoundedLight.ttf") format("truetype"), url("../fonts/VAGRoundedLight/VAGRoundedLight.svg#VAGRoundedLight") format("svg"); }

@font-face {
  font-family: "VAGRoundedThin";
  src: url("../fonts/VAGRoundedThin/VAGRoundedThin.eot");
  src: url("../fonts/VAGRoundedThin/VAGRoundedThin.eot") format("embedded-opentype"), url("../fonts/VAGRoundedThin/VAGRoundedThin.woff2") format("woff2"), url("../fonts/VAGRoundedThin/VAGRoundedThin.woff") format("woff"), url("../fonts/VAGRoundedThin/VAGRoundedThin.ttf") format("truetype"), url("../fonts/VAGRoundedThin/VAGRoundedThin.svg#VAGRoundedThin") format("svg"); }

/*
================================================================================
|                                     Start rools                              |
================================================================================
*/
html,
body {
  height: 100%; }

body {
  position: relative;
  margin: 0 auto;
  font-size: 14px; }

section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 30px; }

.container {
  max-width: 980px;
  margin: 0 auto; }

.loader-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #444046;
  z-index: 1000; }

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -20px;
  z-index: 1000; }

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

#users-vendortype:disabled {
  color: rgba(105, 106, 108, 0.54);
  opacity: .5;
  cursor: not-allowed; }

.language-picker {
  display: inline-block;
  position: absolute !important;
  top: 10px;
  right: 10px;
  z-index: 101; }

.main {
  padding: 69px 0;
  background-image: url("../img/map.png");
  background-size: 100%;
  background-position: 50% 69px;
  background-attachment: fixed; }
  .main .logo {
    margin: 0 auto 27px;
    width: 150px;
    height: 62px;
    position: relative; }
    .main .logo img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 102; }
  .main h1 {
    color: #414141;
    font-size: 46px;
    text-align: center;
    margin-bottom: 28px; }
  .main .top-form-wrapper {
    position: relative;
    width: 540px;
    margin: 0 auto 52px;
    overflow: visible; }
  .main .top-form {
    padding: 29px 30px;
    border: 1px solid #999999;
    background-color: #f6f6f6;
    z-index: 1; }
  .main .form-header {
    color: #414141;
    font-size: 36px;
    text-align: center;
    margin-bottom: 14px; }
  .main .form-sub-header {
    color: #696a6c;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 29px; }
  .main .top-select-common {
    position: relative; }
    .main .top-select-common:after {
      display: block;
      content: '';
      position: absolute;
      top: 26px;
      right: 21px;
      border-style: solid;
      border-width: 7px 7px 0 7px;
      border-color: #767778 transparent transparent transparent; }
  .main .top-input-common {
    position: relative; }
  .main .top-select, .main .top-inp {
    display: block;
    margin-bottom: 3px;
    width: 100%;
    outline: 0;
    height: 56px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    padding-left: 20px;
    color: #414141;
    font-size: 18px; }
    .main .top-select::-ms-expand, .main .top-inp::-ms-expand {
      display: none; }
  .main .top-inp {
    border: 1px solid darkgray;
    font-size: 18px;
    color: #414141; }
    .main .top-inp::-webkit-input-placeholder {
      color: rgba(105, 106, 108, 0.54); }
    .main .top-inp::-moz-placeholder {
      color: rgba(105, 106, 108, 0.54); }
    .main .top-inp:-moz-placeholder {
      color: rgba(105, 106, 108, 0.54); }
    .main .top-inp:-ms-input-placeholder {
      color: rgba(105, 106, 108, 0.54); }
  .main select:required:invalid {
    color: rgba(105, 106, 108, 0.54); }
  .main option[value=""][disabled] {
    display: none; }
  .main option {
    color: #414141; }
  .main .err {
    display: block;
    color: #ff3700;
    font-size: 12px;
    line-height: 14px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    margin-bottom: 18px; }
    .main .err.err__active {
      opacity: 1; }
  .main .top-form-btn {
    display: block;
    width: 100%;
    height: 60px;
    color: #f6f6f6;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 2px;
    background-color: #ff3700; }
  .main .bottom .container {
    padding: 252px 0 110px; }
  .main .b-header {
    color: #414141;
    font-size: 36px;
    text-align: center;
    margin-bottom: 14px; }
  .main .b-sub-header {
    color: #696a6c;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 29px; }
  .main .bottom {
    min-height: 500px; }
  .main .b-form {
    position: relative; }
    .main .b-form .err {
      position: absolute;
      top: 100%;
      left: 0;
      transition-delay: .15s;
      margin-top: 2px; }
    .main .b-form input {
      display: block;
      width: 100%;
      height: 60px;
      border: 1px solid #999999;
      border-radius: 2px;
      padding: 0 195px 0 20px;
      color: #696a6c;
      font-size: 18px; }
      .main .b-form input::-webkit-input-placeholder {
        color: rgba(105, 106, 108, 0.54); }
      .main .b-form input::-moz-placeholder {
        color: rgba(105, 106, 108, 0.54); }
      .main .b-form input:-moz-placeholder {
        color: rgba(105, 106, 108, 0.54); }
      .main .b-form input:-ms-input-placeholder {
        color: rgba(105, 106, 108, 0.54); }
    .main .b-form .b-form-btn {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #ff3700;
      padding: 0 69px;
      color: #f6f6f6;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 0 2px 2px 0; }
  .main .mailing-second-step {
    display: none; }
  .main .b-sub-header-second {
    color: #696a6c;
    font-size: 15px;
    line-height: 22px;
    text-align: center; }
    .main .b-sub-header-second:last-of-type {
      margin: 20px 0 20px; }
  .main .resend-letter {
    display: block;
    height: 60px;
    margin: 0 auto;
    padding: 0 68px;
    border-radius: 2px;
    background-color: #cacaca;
    color: #f6f6f6;
    font-size: 18px;
    text-transform: uppercase;
    pointer-events: none;
    cursor: default;
    transition: background-color .15s ease-in; }
    .main .resend-letter.active {
      pointer-events: auto;
      cursor: pointer;
      background-color: #ff3700; }

.main-sucsess {
  padding: 69px 0 0;
  background-image: url("../img/map.png");
  background-size: contain;
  background-attachment: fixed;
  background-position: 50% 69px;
  min-height: 100%;
  min-height: 100vh; }
  .main-sucsess .logo {
    margin: 0 auto 17px;
    width: 150px;
    height: 62px;
    position: relative; }
    .main-sucsess .logo img {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 102; }
  .main-sucsess .common-txt {
    color: #414141;
    font-size: 22px;
    text-align: center;
    padding: 0 120px;
    margin-bottom: 57px; }
  .main-sucsess .top-form-wrapper {
    position: relative;
    width: 540px;
    margin: 0 auto;
    overflow: visible; }
  .main-sucsess .top-form-container {
    padding-bottom: 50px; }
  .main-sucsess .top-form {
    border: 1px solid #999999;
    background-color: #f6f6f6;
    padding: 34px 40px;
    margin-bottom: 33px; }
  .main-sucsess .instr-links {
    text-align: center; }
    .main-sucsess .instr-links li {
      margin-bottom: 20px; }
      .main-sucsess .instr-links li:last-of-type {
        margin-bottom: 0; }
    .main-sucsess .instr-links a {
      display: inline-block;
      color: #0064e3;
      font-size: 18px;
      padding: 5px; }
  .main-sucsess .agree {
    text-align: center;
    margin-bottom: 33px; }
    .main-sucsess .agree label {
      cursor: pointer; }
  .main-sucsess .checkbox-custom {
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px; }
    .main-sucsess .checkbox-custom:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      content: '';
      position: absolute;
      border: 2px solid #696a6c;
      border-radius: 2px; }
  .main-sucsess .checkbox-custom,
  .main-sucsess .label {
    display: inline-block;
    vertical-align: middle; }
  .main-sucsess .label {
    position: relative;
    color: #696a6c;
    font-size: 14px; }
    .main-sucsess .label .answ_err-container {
      display: none;
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
      z-index: 1;
      cursor: pointer; }
      .main-sucsess .label .answ_err-container:hover .answ_err-txt {
        opacity: 1;
        visibility: visible; }
    .main-sucsess .label .answ_err-ico {
      height: 13px; }
    .main-sucsess .label .answ_err {
      position: relative; }
      .main-sucsess .label .answ_err .icon-svg-err {
        width: 13px;
        height: 13px;
        fill: #ff3700; }
    .main-sucsess .label .answ_err-txt {
      position: absolute;
      top: 100%;
      left: 50%;
      padding: 6px 16px;
      white-space: nowrap;
      margin-top: 3px;
      transform: translateX(-50%);
      color: #ffffff;
      font-size: 9px;
      line-height: 1.2;
      text-align: center;
      border-radius: 5px;
      background-color: #414141;
      opacity: 0;
      visibility: hidden;
      transition: opacity .15s ease-in-out, visibility .15s ease-in-out; }
      .main-sucsess .label .answ_err-txt:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 95%;
        border: 5px solid transparent;
        border-bottom: 5px solid #414141; }
    .main-sucsess .label a {
      color: #0064e3; }
  .main-sucsess .icon-svg-check-in {
    display: none;
    width: 18px;
    height: 18px;
    fill: #ff3700; }
  .main-sucsess .checkbox {
    display: none; }
    .main-sucsess .checkbox:checked + .checkbox-custom .icon-svg-check-in {
      display: block; }
    .main-sucsess .checkbox:checked + .checkbox-custom:before {
      display: none; }
  .main-sucsess .agree-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #f6f6f6;
    font-size: 18px;
    text-transform: uppercase;
    width: 273px;
    height: 60px;
    border-radius: 0 2px 2px 0;
    background-color: #ff3700;
    text-align: center;
    pointer-events: none;
    pointer-events: auto; }

.form {
  background-image: url(../img/bg-pattern.jpg);
  /* Путь к фоновому рисунку */
  background-position: 0 0;
  /* Положение фона */
  background-repeat: repeat;
  /* Повторяем фон по горизонтали */ }
  .form .required {
    color: #ff3700; }

.fixedContent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(182, 182, 182, 0.55); }
  .fixedContent .container {
    padding: 16px; }
    .fixedContent .container span {
      color: #696969;
      font-size: 12px;
      font-weight: 700;
      line-height: 19px; }

.form-head .container, .form-footer .container {
  padding-top: 60px; }

.form-head .logo, .form-footer .logo {
  margin-bottom: 34px; }
  .form-head .logo img, .form-footer .logo img {
    display: block;
    margin: 0 auto; }

.form-head h1, .form-footer h1, .form-head .sub-header, .form-footer .sub-header, .form-head .header-txt, .form-footer .header-txt {
  text-align: center; }

.form-head .sub-header, .form-footer .sub-header, .form-head .header-txt, .form-footer .header-txt, .form-head .header-reminder, .form-footer .header-reminder {
  color: #696969;
  font-size: 12px;
  line-height: 19px; }

.form-head h1, .form-footer h1 {
  color: #333331;
  font-size: 52px; }

.form-head .sub-header, .form-footer .sub-header {
  margin-bottom: 30px;
  border: 1px solid #dedede;
  background-color: #ffffff;
  padding: 16px; }

.form-head .header-txt, .form-footer .header-txt {
  margin-bottom: 19px;
  padding: 0 20px; }

.form-head .header-reminder, .form-footer .header-reminder {
  text-align: center; }

.form-footer {
  padding-bottom: 50px; }
  .form-footer .container {
    padding-top: 20px; }
  .form-footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 16px;
    width: 140px;
    line-height: 42px;
    border-radius: 5px;
    background-color: #ff3700;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase; }
  .form-footer svg {
    width: 21px;
    height: 18px;
    fill: #f4f4f4;
    margin-right: 5px; }

.form-content {
  padding: 28px 0 0px; }
  .form-content .q_tip-container {
    position: absolute;
    right: 8px;
    top: 10px;
    z-index: 1;
    cursor: pointer; }
    .form-content .q_tip-container:hover .q_tip-txt {
      opacity: 1;
      visibility: visible; }
  .form-content .q_tip {
    position: relative; }
    .form-content .q_tip .icon-svg-tip {
      width: 13px;
      height: 13px;
      fill: #4fd0fb; }
  .form-content .q_tip-txt {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 531px;
    padding: 6px 16px;
    margin-top: 3px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 9px;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
    background-color: #414141;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out; }
    .form-content .q_tip-txt:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      border: 5px solid transparent;
      border-bottom: 5px solid #414141; }
  .form-content .answ_err-container {
    position: absolute;
    right: 8px;
    top: 10px;
    z-index: 15;
    cursor: pointer; }
    .form-content .answ_err-container:hover .answ_err-txt {
      opacity: 1;
      visibility: visible; }
    .form-content .answ_err-container.r38 {
      right: 38px; }
  .form-content .answ_err-container-attach {
    top: 50%;
    left: 100%;
    margin-left: 15px;
    transform: translateY(-50%);
    height: 13px;
    z-index: 15;
    right: auto; }
  .form-content .answ_err {
    position: relative; }
    .form-content .answ_err .icon-svg-err {
      width: 13px;
      height: 13px;
      fill: #ff3700; }
  .form-content .answ_err-txt {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 6px 16px;
    white-space: nowrap;
    margin-top: 3px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 9px;
    line-height: 1.2;
    text-align: center;
    border-radius: 5px;
    background-color: #414141;
    opacity: 0;
    visibility: hidden;
    transition: opacity .15s ease-in-out, visibility .15s ease-in-out; }
    .form-content .answ_err-txt:after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      border: 5px solid transparent;
      border-bottom: 5px solid #414141; }
  .form-content .attach-f {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1; }
  .form-content .attach-f-wrap {
    position: relative;
    height: 100%; }
  .form-content .attach_inp {
    display: none; }
  .form-content .attach_inp + .attach-label {
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 33px;
    height: 100%; }
  .form-content .icon-svg-attach {
    width: 7px;
    height: 14px;
    fill: #999999; }
  .form-content .attach_inp-txt {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(15px, -50%);
    white-space: nowrap;
    color: #999999;
    font-size: 12px;
    line-height: 19px; }
  .form-content .form-table {
    display: flex;
    flex-direction: column; }
  .form-content .form-catigories {
    margin-bottom: 16px;
    border: 1px solid #dedede; }
    .form-content .form-catigories .cat-container {
      display: none; }
    .form-content .form-catigories.toggle-cat .cat-container {
      display: block; }
    .form-content .form-catigories.toggle-cat .arr_up .icon-svg-arr-up {
      transform: rotate(0); }
  .form-content .cat-row, .form-content .subcat-row {
    min-height: 35px;
    display: flex;
    border-bottom: 1px solid #dedede; }
    .form-content .cat-row:last-of-type, .form-content .subcat-row:last-of-type {
      border-bottom: 0; }
  .form-content .cat-col {
    min-height: 34px;
    border-right: 1px solid #dedede; }
    .form-content .cat-col:last-of-type {
      border-right: none; }
  .form-content .cat-head {
    cursor: pointer; }
    .form-content .cat-head.cat-head-err {
      position: relative;
      background-color: #ff3700; }
      .form-content .cat-head.cat-head-err .cat-head-err-content {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(15px, -50%);
        color: #ff3700;
        font-size: 12px;
        line-height: 19px;
        white-space: nowrap; }
  .form-content .cat-head, .form-content .subcat-head {
    position: relative;
    color: #ffffff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0; }
  .form-content .arr_up {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
    width: 12px;
    height: 7px; }
    .form-content .arr_up .icon-svg-arr-up {
      width: 12px;
      height: 7px;
      fill: #f6f6f6;
      transform: rotate(180deg); }
  .form-content .cat-head {
    background-color: #414141; }
  .form-content .subcat-head {
    background-color: #696969;
    border-bottom: 0; }
  .form-content .__lgrey {
    color: #878787; }
  .form-content .__red {
    color: #fc1d07; }
  .form-content .list_mark {
    list-style: disc;
    padding-left: 16px; }
  .form-content .cat-row .cat_q, .form-content .cat-row .cat_answ, .form-content .cat-row_subq .cat_q, .form-content .cat-row_subq .cat_answ, .form-content .subcat-row_2cols .cat_q, .form-content .subcat-row_2cols .cat_answ {
    flex: 1;
    max-width: 467px; }
  .form-content .cat-row .cat_q, .form-content .cat-row_subq .cat_q, .form-content .subcat-row_2cols .cat_q {
    position: relative;
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    line-height: 19px;
    padding: 8px 22px 8px 10px; }
  .form-content .cat-row .cat_answ, .form-content .cat-row_subq .cat_answ, .form-content .subcat-row_2cols .cat_answ {
    position: relative; }
    .form-content .cat-row .cat_answ textarea, .form-content .cat-row_subq .cat_answ textarea, .form-content .subcat-row_2cols .cat_answ textarea {
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      resize: none;
      color: #414141;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
  .form-content .subcat-row_2cols .subcat-col, .form-content .subcat-row_2cols-2 .subcat-col, .form-content .subcat-row_2cols-3 .subcat-col {
    border-right: 1px solid #dedede; }
    .form-content .subcat-row_2cols .subcat-col:last-of-type, .form-content .subcat-row_2cols-2 .subcat-col:last-of-type, .form-content .subcat-row_2cols-3 .subcat-col:last-of-type {
      border-right: 0; }
  .form-content .subcat-row_2cols .subcat_q, .form-content .subcat-row_2cols-2 .subcat_q, .form-content .subcat-row_2cols-3 .subcat_q {
    position: relative;
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    line-height: 19px;
    padding: 7px 22px 7px 10px;
    width: 33.33%; }
    .form-content .subcat-row_2cols .subcat_q.important > span:after, .form-content .subcat-row_2cols-2 .subcat_q.important > span:after, .form-content .subcat-row_2cols-3 .subcat_q.important > span:after {
      display: inline-block;
      content: '*';
      color: #ff3700;
      margin-left: 2px; }
  .form-content .subcat-row_2cols .subcat_answ, .form-content .subcat-row_2cols .subcat_answ_attach, .form-content .subcat-row_2cols-2 .subcat_answ, .form-content .subcat-row_2cols-2 .subcat_answ_attach, .form-content .subcat-row_2cols-3 .subcat_answ, .form-content .subcat-row_2cols-3 .subcat_answ_attach {
    position: relative;
    flex: 1 0 auto;
    background-color: #ffffff; }
    .form-content .subcat-row_2cols .subcat_answ textarea, .form-content .subcat-row_2cols .subcat_answ_attach textarea, .form-content .subcat-row_2cols-2 .subcat_answ textarea, .form-content .subcat-row_2cols-2 .subcat_answ_attach textarea, .form-content .subcat-row_2cols-3 .subcat_answ textarea, .form-content .subcat-row_2cols-3 .subcat_answ_attach textarea {
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      resize: none;
      color: #414141;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
  .form-content .subcat-row_2cols .subcat_answ_attach, .form-content .subcat-row_2cols-2 .subcat_answ_attach, .form-content .subcat-row_2cols-3 .subcat_answ_attach {
    padding-right: 33px; }
  .form-content .subcat-row_2cols-2 .subcat_q {
    flex: 1;
    width: auto; }
  .form-content .subcat-row_2cols-2 .subcat_answ {
    width: 125px;
    flex: none; }
  .form-content .subcat-row_2cols-3 .subcat_q {
    flex: 1;
    width: auto; }
  .form-content .subcat-row_2cols-3 .cat_q {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 10px; }
  .form-content .subcat-row_2cols-3 .subcat_answ {
    width: 250px;
    flex: none; }
  .form-content .subcat-row_3cols .subcat-col {
    flex: 1;
    border-right: 1px solid #dedede;
    max-width: 33.33%; }
    .form-content .subcat-row_3cols .subcat-col:last-of-type {
      border-right: 0; }
  .form-content .subcat-row_3cols .subcat_q {
    position: relative;
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    line-height: 19px;
    padding: 7px 22px 7px 10px; }
  .form-content .subcat-row_3cols .subcat_answ {
    position: relative; }
    .form-content .subcat-row_3cols .subcat_answ textarea {
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      resize: none;
      color: #414141;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
  .form-content .subcat-row_3cols__head .subcat-col {
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .form-content .subcat-row_5cols .subcat-col {
    flex: 1;
    border-right: 1px solid #dedede; }
    .form-content .subcat-row_5cols .subcat-col:last-of-type {
      border-right: 0; }
    .form-content .subcat-row_5cols .subcat-col:nth-child(1) {
      max-width: 33.33%;
      min-width: 33.33%;
      width: 100%; }
    .form-content .subcat-row_5cols .subcat-col:nth-child(3) {
      max-width: 220px;
      min-width: 220px;
      width: 100%; }
  .form-content .subcat-row_5cols .subcat_q {
    position: relative;
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    line-height: 19px;
    padding: 7px 22px 7px 10px; }
  .form-content .subcat-row_5cols .subcat_answ {
    position: relative; }
    .form-content .subcat-row_5cols .subcat_answ textarea {
      width: 100%;
      height: 100%;
      padding: 7px 10px;
      resize: none;
      color: #414141;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
  .form-content .subcat-row_5cols__head .subcat-col {
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px; }
    .form-content .subcat-row_5cols__head .subcat-col:first-of-type {
      justify-content: flex-start; }
  .form-content .cat-row_q_box, .form-content .cat-row_q_box-container {
    flex: 1; }
  .form-content .cat-row_subq {
    display: flex;
    border-bottom: 1px solid #dedede; }
    .form-content .cat-row_subq:last-of-type {
      border-bottom: 0; }
  .form-content .cat_num {
    width: 44px;
    padding: 7px 10px;
    color: #696969;
    font-size: 12px;
    line-height: 19px; }
    .form-content .cat_num._n__important:after {
      content: '*';
      color: #ff3700;
      font-size: 14px;
      line-height: 19px; }
  .form-content .subcat-row_q_full {
    flex-direction: column;
    color: #696969;
    font-size: 12px;
    line-height: 19px; }
    .form-content .subcat-row_q_full .subcat-col {
      border-bottom: 1px solid #dedede; }
      .form-content .subcat-row_q_full .subcat-col:last-of-type {
        border-bottom: 0; }
    .form-content .subcat-row_q_full .subcat_q, .form-content .subcat-row_q_full .subcat_q_download {
      position: relative;
      padding: 7px 35px 7px 10px;
      background-color: #f6f6f6;
      min-height: 35px; }
      .form-content .subcat-row_q_full .subcat_q p, .form-content .subcat-row_q_full .subcat_q_download p {
        margin-bottom: 12px; }
    .form-content .subcat-row_q_full .subcat_q_download {
      padding-bottom: 35px; }
      .form-content .subcat-row_q_full .subcat_q_download a {
        display: block;
        position: absolute;
        bottom: 6px;
        left: 10px;
        color: #007dd9;
        font-size: 12px;
        line-height: 19px; }
      .form-content .subcat-row_q_full .subcat_q_download .answ_err-container {
        right: 38px;
        height: 13px;
        z-index: 15; }
    .form-content .subcat-row_q_full .subcat-table .subcat-t-row {
      display: flex;
      border-bottom: 1px solid #dedede; }
      .form-content .subcat-row_q_full .subcat-table .subcat-t-row:last-of-type {
        border-bottom: 0; }
      .form-content .subcat-row_q_full .subcat-table .subcat-t-row.common-border {
        border-bottom: 1px solid #dedede; }
      .form-content .subcat-row_q_full .subcat-table .subcat-t-row .subcat-t-cell {
        position: relative;
        min-height: 35px;
        border-right: 1px solid #dedede; }
        .form-content .subcat-row_q_full .subcat-table .subcat-t-row .subcat-t-cell textarea {
          width: 100%;
          height: 100%;
          padding: 7px 10px;
          resize: none;
          color: #414141;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px; }
        .form-content .subcat-row_q_full .subcat-table .subcat-t-row .subcat-t-cell:last-of-type {
          border-right: 0; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1;
      width: 233px; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      width: 96px; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 95px; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(5) {
      width: 237px; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(6) {
      width: 139px; }
    .form-content .subcat-row_q_full .subcat-table-7cols .subcat-t-row .subcat-t-cell:nth-of-type(7) {
      width: 95px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1;
      width: 219px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      width: 170px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 183px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(5) {
      width: 137px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(6) {
      width: 153px; }
    .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(7) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-7cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(7) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1;
      width: 220px; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      width: 171px; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 290px; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(5) {
      width: 87px; }
    .form-content .subcat-row_q_full .subcat-table-6cols .subcat-t-row .subcat-t-cell:nth-of-type(6) {
      width: 110px; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1;
      width: 219px; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      width: 170px; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 253px; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(5) {
      width: 221px; }
    .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(6) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-6cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(6) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1; }
    .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      flex: 1; }
    .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-4cols-2 .subcat-t-row .subcat-t-cell:nth-of-type(4) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(1) {
      width: 33px; }
      .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(1) textarea {
        padding: 7px 2px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(2) {
      flex: 1;
      width: 380px; }
    .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(3) {
      width: 187px; }
    .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(4) {
      width: 248px; }
    .form-content .subcat-row_q_full .subcat-table-5cols .subcat-t-row .subcat-t-cell:nth-of-type(5) {
      width: 82px; }
    .form-content .subcat-row_q_full .subcat-table-3cols .subcat-t-row .subcat-t-cell {
      flex: 1;
      max-width: 33.33%; }
    .form-content .subcat-row_q_full .subcat-t-name {
      background-color: #f6f6f6; }
      .form-content .subcat-row_q_full .subcat-t-name .subcat-t-cell {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 7px 10px;
        text-align: center; }
    .form-content .subcat-row_q_full .subcat_t-head {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 35px;
      font-size: 12px;
      line-height: 19px;
      background-color: #f6f6f6; }
  .form-content .q_full_center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    font-size: 12px;
    line-height: 19px;
    color: #696969; }
  .form-content .subcat-row_q_select, .form-content .subcat-row_q_select-1 {
    display: flex; }
  .form-content .subcat-row_q_select-1 .subcat_select_q {
    max-width: 33.33%;
    border-right: 1px solid #dedede; }
  .form-content .subcat-row_q_select-1 .subcat_select {
    flex: 1; }
    .form-content .subcat-row_q_select-1 .subcat_select select {
      width: 100%;
      border-left: none; }
  .form-content .subcat-row_q_select_attach, .form-content .subcat-row_q_radio_attach {
    position: relative;
    flex: 1;
    padding-right: 33px;
    background-color: #ffffff; }
    .form-content .subcat-row_q_select_attach .subcat_q, .form-content .subcat-row_q_radio_attach .subcat_q {
      flex: 1; }
    .form-content .subcat-row_q_select_attach p, .form-content .subcat-row_q_radio_attach p {
      margin-bottom: 20px; }
  .form-content .subcat-row_q_radio_attach {
    padding-right: 0; }
    .form-content .subcat-row_q_radio_attach .subcat_q {
      padding-right: 0;
      padding-bottom: 0; }
  .form-content .subcat_select {
    background-color: #ffffff; }
    .form-content .subcat_select select {
      width: 111px;
      height: 100%;
      border: 0;
      border-left: 1px solid #dedede;
      display: block;
      padding-left: 15px;
      color: #696969;
      font-size: 12px; }
      .form-content .subcat_select select::-ms-expand {
        display: none; }
    .form-content .subcat_select select:required:invalid {
      color: rgba(105, 106, 108, 0.54); }
    .form-content .subcat_select option[value=""][disabled] {
      display: none; }
    .form-content .subcat_select option {
      color: #414141; }
  .form-content .subcat_select_q {
    flex: 1; }
  .form-content .subcat_q, .form-content .subcat_q_download {
    position: relative;
    background-color: #f6f6f6;
    color: #696969;
    font-size: 12px;
    line-height: 19px;
    padding: 7px 22px 7px 10px; }
  .form-content .subcat-row_textarea {
    background-color: #ffffff; }
    .form-content .subcat-row_textarea textarea {
      height: 73px;
      width: 100%;
      padding: 7px 10px;
      resize: none;
      color: #414141;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px; }
  .form-content .radio-box .radio-row {
    position: relative;
    margin-bottom: 6px; }
    .form-content .radio-box .radio-row:last-of-type {
      margin-bottom: 0; }
  .form-content .radio-box .radio + label {
    cursor: pointer; }
  .form-content .radio-box .radio:not(checked) {
    position: absolute;
    opacity: 0; }
    .form-content .radio-box .radio:not(checked) + label {
      position: relative;
      padding: 0 0 0 22px;
      color: #696969;
      font-family: Arial;
      font-size: 12px;
      font-weight: 400;
      line-height: 19px; }
      .form-content .radio-box .radio:not(checked) + label:before {
        content: '';
        position: absolute;
        top: -1px;
        left: 0;
        width: 14px;
        height: 14px;
        border: 1px solid #696969;
        border-radius: 50%;
        background: #FFF; }
      .form-content .radio-box .radio:not(checked) + label:after {
        content: '';
        position: absolute;
        top: 3.2px;
        left: 4px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #696969;
        opacity: 0;
        transition: all .2s; }
  .form-content .radio-box .radio:checked + label:after {
    opacity: 1;
    background: #ff3703; }
  .form-content .radio-box .radio:checked + label:before {
    border: 1px solid #ff3703; }
  .form-content .radio-box .radio:focus + label:after {
    opacity: 1;
    background: #ff3703; }
  .form-content .radio-box .radio:focus + label:before {
    border: 1px solid #ff3703; }
  .form-content .add-t-row, .form-content .add-textarea, .form-content .add-t-row-1 {
    background-color: #eaeaea;
    color: #565656;
    font-size: 12px;
    line-height: 19px;
    border-top: 1px solid #dedede;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
  .form-content .t-container {
    flex: 1 0 auto; }
  .form-content .dynamic-textarea-container .subcat-row {
    background-color: #ffffff; }
  .form-content .dynamic-textarea-container textarea {
    width: 100%;
    height: 100%;
    min-height: 35px;
    padding: 7px 10px;
    resize: none;
    color: #414141;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px; }
  .form-content .txtImportant {
    position: relative; }
    .form-content .txtImportant:after {
      display: inline-block;
      content: '*';
      color: #ff3700;
      margin-left: 2px; }

.form-sucsess {
  height: 100%; }
  .form-sucsess .form-head, .form-sucsess .form-footer {
    height: 100%; }
    .form-sucsess .form-head .logo, .form-sucsess .form-footer .logo {
      margin-bottom: 50px; }
    .form-sucsess .form-head p, .form-sucsess .form-footer p {
      color: #414141;
      font-family: Arial;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      margin-bottom: 45px; }
  .form-sucsess .f-sucsess-svg {
    display: block;
    margin: 0 auto;
    width: 144px;
    height: 150px;
    margin-bottom: 40px; }
    .form-sucsess .f-sucsess-svg svg {
      width: 144px;
      height: 150px;
      fill: #70a489;
      margin-left: 8px; }
  .form-sucsess .back-to-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 42px;
    border-radius: 5px;
    padding: 0 13px;
    background-color: #ff3700;
    margin: 0 auto; }
    .form-sucsess .back-to-main span {
      line-height: 1;
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase; }
  .form-sucsess .f-sucsess-svg-1 {
    display: block;
    margin: 0 auto;
    width: 214px;
    height: 150px;
    margin-bottom: 40px; }
  .form-sucsess .icon-svg-home {
    width: 20px;
    height: 17px;
    fill: #ffffff;
    margin-right: 5px;
    margin-bottom: 2px; }
  .form-sucsess .icon-svg-mail {
    width: 214px;
    height: 150px;
    fill: #70a489; }

/*# sourceMappingURL=style.css.map */
