.form-sucsess {
	height: 100%;
	
	.form-head {
		height: 100%;
		.logo {
			margin-bottom: 50px;
		}
		p {
			color: #414141;
			font-family: Arial;
			font-size: 16px;
			font-weight: 400;
			line-height: 19px;
			margin-bottom: 45px;
		}
	}
	
	
	
	.f-sucsess-svg {
		display: block;
		margin: 0 auto;
		width: 144px;
		height: 150px;
		margin-bottom: 40px;
		
		svg {
			width: 144px;
			height: 150px;
			fill: #70a489;
			margin-left: 8px;
		}
	}
	
	.back-to-main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 140px;
		height: 42px;
		border-radius: 5px;
		padding: 0 13px;
		background-color: #ff3700;
		margin: 0 auto;
		
		span {
			line-height: 1;
			color: #ffffff;
			@extend %ab;
			font-size: 12px;
			text-transform: uppercase;
		}
		
	}
	.f-sucsess-svg-1 {
		display: block;
		margin: 0 auto;
		width: 214px;
		height: 150px;
		margin-bottom: 40px;
		
		//svg {
		//	width: 144px;
		//	height: 150px;
		//	fill: #70a489;
		//	margin-left: 8px;
		//}
	}
	
	.icon-svg-home {
		width: 20px;
		height: 17px;
		fill: #ffffff;
		margin-right: 5px;
		margin-bottom: 2px;
	}
	
	.icon-svg-mail {
		width: 214px;
		height: 150px;
		fill: #70a489;
	}
	
	
}