.main {
	padding: 69px 0;
	background-image: url("../img/map.png");
	background-size: 100%;
	background-position: 50% 69px;
	background-attachment: fixed;
	
	//.top {
	//	height: 580px;
	//
	//	padding: 60px 0 0;
	//}
	.logo {
		margin: 0 auto 27px;
		width: 150px;
		height: 62px;
		position: relative;
		
		img {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 102;
		}
	}
	
	h1 {
		color: #414141;
		@extend %vl;
		font-size: 46px;
		text-align: center;
		margin-bottom: 28px;
	}
	
	.top-form-wrapper {
		position: relative;
		width: 540px;
		margin: 0 auto 52px;
		overflow: visible;
	}
	.top-form {
		//position: absolute;
		//left: 0;
		//right: 0;
		//top: 0;
		padding: 29px 30px;
		border: 1px solid #999999;
		background-color: #f6f6f6;
		z-index: 1;
	}
	.form-header {
		color: #414141;
		@extend %vbo;
		font-size: 36px;
		text-align: center;
		margin-bottom: 14px;
	}
	
	.form-sub-header {
		color: #696a6c;
		@extend %ar;
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		margin-bottom: 29px;
	}
	
	.top-select-common {
		position: relative;
		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 26px;
			right: 21px;
			border-style: solid;
			border-width: 7px 7px 0 7px;
			border-color: #767778 transparent transparent transparent;
		}
		//&:last-of-type {
		//	margin: 18px 0 32px;
		//}
	}
	
	.top-input-common {
		position: relative;
	}
	
	
	.top-select, .top-inp {
		display: block;
		margin-bottom: 3px;
		width: 100%;
		outline: 0;
		height: 56px;
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none !important;
		padding-left: 20px;
		color: #414141;
		//color: red;
		@extend %ar;
		font-size: 18px;
		&::-ms-expand {
			display: none;
		}
	}
	
	.top-inp {
	border: 1px solid rgb(169, 169, 169);
		@extend %ar;
		font-size: 18px;
		color: #414141;
		&::-webkit-input-placeholder {color: rgba(105, 106, 108, .54);}
		&::-moz-placeholder          {color: rgba(105, 106, 108, .54);}
		&:-moz-placeholder           {color: rgba(105, 106, 108, .54);}
		&:-ms-input-placeholder      {color: rgba(105, 106, 108, .54);}
	}
	select:required:invalid {
		color: rgba(105, 106, 108, .54);
	}
	option[value=""][disabled] {
		display: none;
	}
	option {
		color: #414141;
	}
	.err {
		display: block;
		color: #ff3700;
		@extend %ar;
		font-size: 12px;
		line-height: 14px;
		opacity: 1;
		transition: opacity .25s ease-in-out;
		margin-bottom: 18px;
		
		&.err__active {
			opacity: 1;
		}
	}
	
	.top-form-btn {
		display: block;
		width: 100%;
		height: 60px;
		color: #f6f6f6;
		@extend %ar;
		font-size: 18px;
		text-transform: uppercase;
		border-radius: 2px;
		background-color: #ff3700;
	}
	
	.bottom {
		.container {
			padding: 252px 0 110px;
		}
	}
	
	.b-header {
		color: #414141;
		@extend %vbo;
		font-size: 36px;
		text-align: center;
		margin-bottom: 14px;
	}
	
	.b-sub-header {
		color: #696a6c;
		@extend %ar;
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		margin-bottom: 29px;
	}
	.bottom {
		min-height: 500px;
	}
	.b-form {
		position: relative;
		//overflow: hidden;
		
		.err{
			position: absolute;
			top: 100%;
			left: 0;
			transition-delay: .15s;
			margin-top: 2px;
		}
		
		input {
			display: block;
			width: 100%;
			height: 60px;
			border: 1px solid #999999;
			border-radius: 2px;
			padding: 0 195px 0 20px;
			color: #696a6c;
			@extend %ar;
			font-size: 18px;
			
			&::-webkit-input-placeholder {color: rgba(105, 106, 108, .54);}
			&::-moz-placeholder          {color: rgba(105, 106, 108, .54);}
			&:-moz-placeholder           {color: rgba(105, 106, 108, .54);}
			&:-ms-input-placeholder      {color: rgba(105, 106, 108, .54);}
		}
		
		.b-form-btn {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: #ff3700;
			padding: 0 69px;
			color: #f6f6f6;
			@extend %ar;
			font-size: 18px;
			text-transform: uppercase;
			border-radius: 0 2px 2px 0;
		}
	}
	
	.mailing-second-step {
		display: none;
	}
	
	.b-sub-header-second {
		color: #696a6c;
		@extend %ar;
		font-size: 15px;
		line-height: 22px;
		text-align: center;
		
		&:last-of-type {
			margin: 20px 0 20px;
		}
	}
	
	.resend-letter {
		display: block;
		height: 60px;
		margin: 0 auto;
		padding: 0 68px;
		border-radius: 2px;
		background-color: #cacaca;
		color: #f6f6f6;
		@extend %ar;
		font-size: 18px;
		text-transform: uppercase;
		pointer-events: none;
		cursor: default;
		transition: background-color .15s ease-in;
		
		&.active {
			pointer-events: auto;
			cursor: pointer;
			background-color: #ff3700;
		}
	}
}