.main-sucsess {
	padding: 69px 0 0;
	background-image: url("../img/map.png");
	background-size: contain;
	background-attachment: fixed;
	background-position: 50% 69px;
	min-height: 100%;
	min-height: 100vh;
	//padding-bottom: 250px;
	//.top {
	//	height: 580px;
	//	background-image: url("../img/main-bg.png");
	//	background-size: cover;
	//	background-position: 50% 50%;
	//	padding: 60px 0 0;
	//}
	.logo {
		margin: 0 auto 17px;
		width: 150px;
		height: 62px;
		position: relative;
		
		img {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 102;
		}
	}
	
	.common-txt {
		color: #414141;
		@extend %ab;
		font-size: 22px;
		text-align: center;
		padding: 0 120px;
		margin-bottom: 57px;
	}
	
	.top-form-wrapper {
		position: relative;
		width: 540px;
		margin: 0 auto;
		overflow: visible;
	}

	
	.top-form-container {
		//position: absolute;
		//left: 0;
		//right: 0;
		//top: 0;
		//z-index: 1;
		padding-bottom: 50px;
	}
	
	.top-form {
		border: 1px solid #999999;
		background-color: #f6f6f6;
		padding: 34px 40px;
		margin-bottom: 33px;
	}
	
	.instr-links {
		text-align: center;
		
		li {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		
		a {
			display: inline-block;
			color: #0064e3;
			@extend %ar;
			font-size: 18px;
			padding: 5px;
		}
	}
	
	.agree {
		text-align: center;
		margin-bottom: 33px;
		
		label {
			cursor: pointer;
		}
	}
	
	.checkbox-custom {
		position: relative;
		width: 18px;
		height: 18px;
		margin-right: 10px;
		
		&:before {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			content: '';
			position: absolute;
			border: 2px solid #696a6c;
			border-radius: 2px;
		}
	}
	
	.checkbox-custom,
	.label {
		display: inline-block;
		vertical-align: middle;
	}
	
	.label {
		position: relative;
		color: #696a6c;
		@extend %ar;
		font-size: 14px;
		
		//.err {
		//	position: absolute;
		//	left: 100%;
		//	top: 50%;
		//	display: flex;
		//	justify-content: center;
		//	align-items: center;
		//	width: 18px;
		//	height: 18px;
		//	border: 1px solid #ff3700;
		//	border-radius: 50%;
		//	transform: translateY(-50%);
		//	white-space: nowrap;
		//	margin-left: 10px;
		//	color: #ff3700;
		//	font-size: 13px;
		//	line-height: 14px;
		//	font-weight: bold;
		//	line-height: 1;
		//	letter-spacing: 0;
		//	opacity: 0;
		//	transition: opacity .25s ease-in-out;
		//
		//	&.show_err {
		//		opacity: 1;
		//	}
		//}
		.answ_err-container {
			display: none;
			position: absolute;
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			margin-left: 10px;
			
			z-index: 1;
			cursor: pointer;
			&:hover {
				.answ_err-txt {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		
		.answ_err-ico {
			height: 13px;
		}
		
		.answ_err {
			position: relative;
			
			.icon-svg-err {
				width: 13px;
				height: 13px;
				fill: #ff3700;
			}
		}
		
		.answ_err-txt {
			position: absolute;
			top: 100%;
			left: 50%;
			//width: 531px;
			padding: 6px 16px;
			white-space: nowrap;
			margin-top: 3px;
			transform: translateX(-50%);
			color: #ffffff;
			@extend %ar;
			font-size: 9px;
			line-height: 1.2;
			text-align: center;
			border-radius: 5px;
			background-color: #414141;
			opacity: 0;
			visibility: hidden;
			transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 95%;
				border: 5px solid transparent;
				border-bottom: 5px solid #414141;
			}
		}
		
		a {
			color: #0064e3;
		}
	}
	.icon-svg-check-in {
		display: none;
		width: 18px;
		height: 18px;
		fill: #ff3700;
	}
	
	.checkbox {
		display: none;
		&:checked {
			& + .checkbox-custom {
				.icon-svg-check-in {
					display: block;
				}
				&:before {
					display: none;
				}
			}
		}
	}
	
	.agree-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		color: #f6f6f6;
		@extend %ar;
		font-size: 18px;
		text-transform: uppercase;
		width: 273px;
		height: 60px;
		border-radius: 0 2px 2px 0;
		background-color: #ff3700;
		text-align: center;
		pointer-events: none;
		
		//&.active {
			pointer-events: auto;
		//}
	}
	
	
}