.form{
	background-image: url(../img/bg-pattern.jpg); /* Путь к фоновому рисунку */
	background-position: 0 0; /* Положение фона */
	background-repeat: repeat; /* Повторяем фон по горизонтали */

	.required {
		color: #ff3700;
	}
}

