.form-content {
	padding: 28px 0 0px;
	
	@import "lib/tips-dropdown";
	@import "lib/err-dropdown";
	@import "lib/attach-f";
	
	.form-table {
		display: flex;
		
		flex-direction: column;
	}
	
	.form-catigories {
		margin-bottom: 16px;
		border: 1px solid #dedede;
		
		.cat-container {
			display: none;
		}
		
		//
		//& > div:not(.cat-head) {
		//	display: none;
		//}
		//
		&.toggle-cat {
			.cat-container {
				display: block;
			}
			.arr_up {
				.icon-svg-arr-up {
					transform: rotate(0);
				}
			}
		}
	}

	
	//.form-catigories {
	//	margin-bottom: 16px;
	//	border: 1px solid #dedede;
	//
	//
	//	&:not(.cat-head) {
	//		display: none;
	//	}
	//
	//	&.show-cat {
	//
	//	}
	//}
	//
	
	.cat-row, .subcat-row {
		min-height: 35px;
		display: flex;
		border-bottom: 1px solid #dedede;
		
		&:last-of-type {
			border-bottom: 0;
		}
	}
	
	.cat-col {
		min-height: 34px;
		border-right: 1px solid #dedede;
		
		&:last-of-type {
			border-right: none;
		}
	}
	
	.cat-head {
		cursor: pointer;
		
		&.cat-head-err {
			position: relative;
			background-color: #ff3700;
			
			.cat-head-err-content{
				position: absolute;
				left: 100%;
				top: 50%;
				transform: translate(15px, -50%);
				color: #ff3700;
				@extend %ar;
				font-size: 12px;
				line-height: 19px;
				white-space: nowrap;
			}
		}
	}
	
	.cat-head, .subcat-head {
		position: relative;
		color: #ffffff;
		@extend %ab;
		font-size: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 0;
	}
	
	.arr_up {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-100%);
		width: 12px;
		height: 7px;
		.icon-svg-arr-up {
			width: 12px;
			height: 7px;
			fill: #f6f6f6;
			transform: rotate(180deg);
		}
	}
	
	.cat-head {
		background-color: #414141;
	}
	
	.subcat-head {
		background-color: #696969;
		border-bottom: 0;
	}
	
	.__lgrey {
		color: #878787;
	}
	.__red {
		color: #fc1d07;
	}
	
	.list_mark {
		list-style: disc;
		padding-left: 16px;
	}
	
	
	.cat-row, .cat-row_subq, .subcat-row_2cols{
		
		.cat_q, .cat_answ {
			flex: 1;
			max-width: 467px;
		}
		
		.cat_q {
			position: relative;
			background-color: #f6f6f6;
			color: #696969;
			@extend %ar;
			font-size: 12px;
			line-height: 19px;
			padding: 8px 22px 8px 10px;
		}
		
		.cat_answ {
			position: relative;
			
			textarea {
				width: 100%;
				height: 100%;
				padding: 7px 10px;
				resize: none;
				color: #414141;
				@extend %ar;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
			}
		}
	}
	

	
	.subcat-row_2cols,  .subcat-row_2cols-2,  .subcat-row_2cols-3  {
		.subcat-col {
			border-right: 1px solid #dedede;
			
			&:last-of-type {
				border-right: 0;
			}
		}
		
		.subcat_q {
			position: relative;
			background-color: #f6f6f6;
			color: #696969;
			@extend %ar;
			font-size: 12px;
			line-height: 19px;
			padding: 7px 22px 7px 10px;
			width: 33.33%;
			
			
			&.important {
				& > span {
					&:after {
						display: inline-block;
						content: '*';
						@extend %ar;
						color: #ff3700;
						margin-left: 2px;
					}
				}
			}
			
	
			
		
		}
		

		
		.subcat_answ, .subcat_answ_attach {
			position: relative;
			flex: 1 0 auto;
			background-color: #ffffff;
			
			textarea {
				width: 100%;
				height: 100%;
				padding: 7px 10px;
				resize: none;
				color: #414141;
				@extend %ar;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
			}
		}
		
		.subcat_answ_attach {
			
			//textarea {
			padding-right: 33px;
			//}
		}
	}
	
	.subcat-row_2cols-2 {
		
		.subcat_q  {
			flex: 1;
			width: auto;
		}
		
		
		
		.subcat_answ {
			width: 125px;
			flex: none;
		}
	}
	
	.subcat-row_2cols-3 {
		
		.subcat_q  {
			flex: 1;
			width: auto;
		}
		
		.cat_q {
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 8px 10px;
		}
		
		
		
		.subcat_answ {
			width: 250px;
			flex: none;
		}
	}
	
	
	
	.subcat-row_3cols {
		.subcat-col {
			flex: 1;
			border-right: 1px solid #dedede;
			max-width: 33.33%;
			&:last-of-type {
				border-right: 0;
			}
		}
		
		.subcat_q {
			position: relative;
			background-color: #f6f6f6;
			color: #696969;
			@extend %ar;
			font-size: 12px;
			line-height: 19px;
			padding: 7px 22px 7px 10px;
		}
		
		.subcat_answ {
			position: relative;
			
			textarea {
				width: 100%;
				height: 100%;
				padding: 7px 10px;
				resize: none;
				color: #414141;
				@extend %ar;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
			}
		}
	}
	
	.subcat-row_3cols__head {
		
		.subcat-col {
			background-color: #f6f6f6;
			color: #696969;
			@extend %ab;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	
	.subcat-row_5cols {
		.subcat-col {
			flex: 1;
			border-right: 1px solid #dedede;
			//max-width: 33.33%;
			&:last-of-type {
				border-right: 0;
			}
			
			//&:first-of-type {
			//
			//}
			
			&:nth-child(1) {
				max-width: 33.33%;
				min-width: 33.33%;
				width: 100%;
			}
			&:nth-child(3) {
				max-width: 220px;
				min-width: 220px;
				width: 100%;
			}
			
		}
		
		.subcat_q {
			position: relative;
			background-color: #f6f6f6;
			color: #696969;
			@extend %ar;
			font-size: 12px;
			line-height: 19px;
			padding: 7px 22px 7px 10px;
		}
		
		.subcat_answ {
			position: relative;
			
			textarea {
				width: 100%;
				height: 100%;
				padding: 7px 10px;
				resize: none;
				color: #414141;
				@extend %ar;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
			}
		}
	}
	
	.subcat-row_5cols__head {
		
		.subcat-col {
			background-color: #f6f6f6;
			color: #696969;
			@extend %ar;
			font-size: 12px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 7px 10px;
			
			&:first-of-type {
				justify-content: flex-start;
			}
		}
	}
	
	.cat-row_q_box, .cat-row_q_box-container {
		flex: 1;
	}
	
	.cat-row_subq {
		display: flex;
		border-bottom: 1px solid #dedede;
		
		&:last-of-type {
			border-bottom: 0;
		}
	}
	
	.cat_num {
		width: 44px;
		padding: 7px 10px;
		color: #696969;
		@extend %ar;
		font-size: 12px;
		line-height: 19px;
		
		&._n__important {
			&:after {
				content: '*';
				color: #ff3700;
				@extend %ar;
				font-size: 14px;
				line-height: 19px;
			}
		}
	}
	
	.subcat-row_q_full {
		flex-direction: column;
		
		color: #696969;
		@extend %ar;
		font-size: 12px;
		line-height: 19px;
		
		.subcat-col {
			border-bottom: 1px solid #dedede;
			
			&:last-of-type {
				border-bottom: 0;
			}
		}
		
		.subcat_q, .subcat_q_download {
			position: relative;
			padding: 7px 35px 7px 10px;
			background-color: #f6f6f6;
			min-height: 35px;
			p {
				margin-bottom: 12px;
			}
		}
		
		.subcat_q_download {
			padding-bottom: 35px;
			
			a {
				display: block;
				position: absolute;
				bottom: 6px;
				left: 10px;
				color: #007dd9;
				@extend %ar;
				font-size: 12px;
				line-height: 19px;
				
			}
			
			
			.answ_err-container {
				//top: 50%;
				right: 38px;
				//transform: translateY(-50%);
				height: 13px;
				z-index: 15;
			}
			
	
			
			
			
			
			
		}
		
		.subcat-table {
			.subcat-t-row {
				
				display: flex;
				//align-items: center;
				border-bottom: 1px solid #dedede;
				
				&:last-of-type {
					border-bottom: 0;
				}
				&.common-border {
					border-bottom: 1px solid #dedede;
				}
				
				.subcat-t-cell {
					position: relative;
					min-height: 35px;
					border-right: 1px solid #dedede;
					
					textarea {
						width: 100%;
						height: 100%;
						padding: 7px 10px;
						resize: none;
						color: #414141;
						@extend %ar;
						font-size: 12px;
						font-weight: 400;
						line-height: 16px;
					}
					
					&:last-of-type {
						border-right: 0;
					}
				}
			}
		}
		
		.subcat-table-7cols {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						width: 233px;
					}
					&:nth-of-type(3) {
						width: 96px;
					}
					&:nth-of-type(4) {
						width: 95px;
					}
					&:nth-of-type(5) {
						width: 237px;
					}
					&:nth-of-type(6) {
						width: 139px;
					}
					&:nth-of-type(7) {
						width: 95px;
					}
					
					
				}
			}
		}
		.subcat-table-7cols-2 {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						width: 219px;
					}
					&:nth-of-type(3) {
						width: 170px;
					}
					&:nth-of-type(4) {
						width: 183px;
					}
					&:nth-of-type(5) {
						width: 137px;
					}
					&:nth-of-type(6) {
						width: 153px;
					}
					&:nth-of-type(7) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
				}
			}
		}
		
		
		
			.subcat-table-6cols {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						width: 220px;
					}
					&:nth-of-type(3) {
						width: 171px;
					}
					&:nth-of-type(4) {
						width: 290px;
					}
					&:nth-of-type(5) {
						width: 87px;
					}
					&:nth-of-type(6) {
						width: 110px;
					}
					
				}
			}
		}
		
		.subcat-table-6cols-2 {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						width: 219px;
					}
					&:nth-of-type(3) {
						width: 170px;
					}
					&:nth-of-type(4) {
						width: 253px;
					}
					&:nth-of-type(5) {
						width: 221px;
					}
					&:nth-of-type(6) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
				}
			}
		}
		
		
		.subcat-table-4cols-2 {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						//width: 219px;
					}
					&:nth-of-type(3) {
						flex: 1;
						//width: 170px;
					}
					&:nth-of-type(4) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
				}
			}
		}
		
		
		
		
		
		.subcat-table-5cols {
			.subcat-t-row {
				.subcat-t-cell {
					
					&:nth-of-type(1) {
						width: 33px;
						textarea {
							padding: 7px 2px;
							text-align: center;
						}
					}
					&:nth-of-type(2) {
						flex: 1;
						width: 380px;
					}
					&:nth-of-type(3) {
						width: 187px;
					}
					&:nth-of-type(4) {
						width: 248px;
					}
					&:nth-of-type(5) {
						width: 82px;
					}
				}
			}
		}
		
		.subcat-table-3cols {
			.subcat-t-row {
				.subcat-t-cell {
					flex: 1;
					max-width: 33.33%;
					//&:nth-of-type(1) {
					//	width: 33px;
					//}
					//&:nth-of-type(2) {
					//	flex: 1;
					//	width: 380px;
					//}
					//&:nth-of-type(3) {
					//	width: 187px;
					//}
				}
			}
		}
		
		.subcat-t-name {
			background-color: #f6f6f6;
			.subcat-t-cell {
				display: flex;
				align-items: flex-start;
				justify-content: center;
				padding: 7px 10px;
				text-align: center;
				
				//&:nth-of-type(1) {
				//	width: 33px;
				//}
				//&:nth-of-type(2) {
				//	flex: 1;
				//	width: 380px;
				//}
				//&:nth-of-type(3) {
				//	width: 187px;
				//}
				//&:nth-of-type(4) {
				//	width: 248px;
				//}
				//&:nth-of-type(5) {
				//	width: 82px;
				//}
				
			}
		}
		
		.subcat_t-head {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 35px;
			@extend %ab;
			font-size: 12px;
			line-height: 19px;
			background-color: #f6f6f6;
		}
	}
	
	.q_full_center {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 35px;
		@extend %ar;
		font-size: 12px;
		line-height: 19px;
		color: #696969;
	}
	
	.subcat-row_q_select, .subcat-row_q_select-1 {
		display: flex;
		
		//.subcat_q {
		//	flex: 1;
		//}
	}
	
	.subcat-row_q_select-1 {
		.subcat_select_q {
			max-width: 33.33%;
			border-right: 1px solid #dedede;
		}
		
		.subcat_select {
			flex: 1;
		//	background-color: #ffffff;
		//
			select {
				width: 100%;
		//		height: 100%;
		//		border: 0;
				border-left: none;
		//		display: block;
		//		//-webkit-appearance: none;
		//		//-moz-appearance: none;
		//		//-ms-appearance: none;
		//		//appearance: none !important;
		//		padding-left: 15px;
		//		@extend %ar;
		//
		//		color: #696969;
		//		font-size: 12px;
		//		&::-ms-expand {
		//			display: none;
		//		}
			}
		//	select:required:invalid {
		//		color: rgba(105, 106, 108, .54);
		//	}
		//	option[value=""][disabled] {
		//		display: none;
		//	}
		//	option {
		//		color: #414141;
		//	}
		}
		
		
	}
	
	.subcat-row_q_select_attach, .subcat-row_q_radio_attach {
		position: relative;
		flex: 1;
		padding-right: 33px;
		background-color: #ffffff;
		
		.subcat_q {
			flex: 1;
		}
		
		p {
			margin-bottom: 20px;
		}
	}
	
	.subcat-row_q_radio_attach {
		padding-right: 0;
		
		.subcat_q {
			padding-right: 0;
			padding-bottom: 0;
		}
	}
	
	.subcat_select {
		
		background-color: #ffffff;
		
		select {
			width: 111px;
			height: 100%;
			border: 0;
			border-left: 1px solid #dedede;
			display: block;
			//-webkit-appearance: none;
			//-moz-appearance: none;
			//-ms-appearance: none;
			//appearance: none !important;
			padding-left: 15px;
			@extend %ar;
			
			color: #696969;
			font-size: 12px;
			&::-ms-expand {
				display: none;
			}
		}
		select:required:invalid {
			color: rgba(105, 106, 108, .54);
		}
		option[value=""][disabled] {
			display: none;
		}
		option {
			color: #414141;
		}
	}
	
	.subcat_select_q {
		flex: 1;
	}
	
	
	.subcat_q, .subcat_q_download {
		position: relative;
		background-color: #f6f6f6;
		color: #696969;
		@extend %ar;
		font-size: 12px;
		line-height: 19px;
		padding: 7px 22px 7px 10px;
	}
	
	.subcat-row_textarea {
		background-color: #ffffff;
		textarea {
			height: 73px;
			width: 100%;
			padding: 7px 10px;
			resize: none;
			color: #414141;
			@extend %ar;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
		}
	}
	
	.radio-box {
		.radio-row {
			position: relative;
			margin-bottom: 6px;
			//padding: 8px 33px 8px 0;
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.radio {
			
			
			//vertical-align: top;
			//width: 17px;
			//height: 17px;
			//margin: 0 3px 0 0;
			
			& + label {
				cursor: pointer;
			}
			
			&:not(checked) {
				position: absolute;
				opacity: 0;
				
				& + label {
					position: relative;
					padding: 0 0 0 22px;
					color: #696969;
					font-family: Arial;
					font-size: 12px;
					font-weight: 400;
					line-height: 19px;
					
					&:before {
						content: '';
						position: absolute;
						top: -1px;
						left: 0;
						width: 14px;
						height: 14px;
						border: 1px solid #696969;
						border-radius: 50%;
						background: #FFF;
					}
					
					&:after {
						content: '';
						position: absolute;
						top: 3.2px;
						left: 4px;
						width: 6px;
						height: 6px;
						border-radius: 50%;
						background: #696969;
						
						opacity: 0;
						transition: all .2s;
					}
				}
			}
			
			&:checked + label {
				
				&:after {
					opacity: 1;
					background: #ff3703;
				}
				&:before {
					border: 1px solid #ff3703;
				}
			}
			&:focus + label {
				
				&:after {
					opacity: 1;
					background: #ff3703;
				}
				&:before {
					border: 1px solid #ff3703;
				}
				
			}
			
		}
		
	}
	
	.add-t-row, .add-textarea, .add-t-row-1 {
		background-color: #eaeaea;
		color: #565656;
		@extend %ar;
		font-size: 12px;
		line-height: 19px;
		border-top: 1px solid #dedede;
		min-height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	
	.t-container {
		flex: 1 0 auto;
	}
	
	.dynamic-textarea-container {
		.subcat-row {
			background-color: #ffffff;
		}
		textarea {
			width: 100%;
			height: 100%;
			min-height: 35px;
			padding: 7px 10px;
			resize: none;
			color: #414141;
			@extend %ar;
			font-size: 12px;
			font-weight: 400;
			line-height: 16px;
		}
	}
	
	.txtImportant {
		position: relative;
		&:after {
			display: inline-block;
			content: '*';
			@extend %ar;
			color: #ff3700;
			margin-left: 2px;
		}
	}
	
}