.fixedContent {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	background-color: #ffffff;
	box-shadow: 0 2px 2px rgba(182, 182, 182, 0.55);
	.container {
		padding: 16px;
		
		span {
			color: #696969;
			@extend %ab;
			font-size: 12px;
			font-weight: 700;
			line-height: 19px;
		}
	}
}

.form-head {
	.container {
		padding-top: 60px;
	}
	
	.logo {
		margin-bottom: 34px;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	
	h1, .sub-header, .header-txt {
		@extend %ar;
		text-align: center;
	}
	
	.sub-header, .header-txt, .header-reminder {
		color: #696969;
		font-size: 12px;
		line-height: 19px;
	}
	
	h1 {
		//margin-bottom: 28px;
		color: #333331;
		font-size: 52px;
	}
	
	.sub-header {
		margin-bottom: 30px;
		border: 1px solid #dedede;
		background-color: #ffffff;
		padding: 16px;
	}
	
	.header-txt {
		margin-bottom: 19px;
		padding: 0 20px;
	}
	
	.header-reminder {
		@extend %ab;
		text-align: center;
	}
}

.form-footer {
	padding-bottom: 50px;
	@extend .form-head;
	.container {
		padding-top: 20px;
	}
	
	button {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		padding: 0 16px;
		width: 140px;
		line-height: 42px;
		border-radius: 5px;
		background-color: #ff3700;
		color: #ffffff;
		@extend %ab;
		font-size: 12px;
		text-transform: uppercase;
	}
	
	svg {
		width: 21px;
		height: 18px;
		fill: #f4f4f4;
		margin-right: 5px;
	}
}