.attach-f {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}

.attach-f-wrap {
	position: relative;
	height: 100%;
}


.attach_inp {
	display: none;
}

.attach_inp + .attach-label {
	background-color: #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 33px;
	height: 100%;
}

.icon-svg-attach {
	width: 7px;
	height: 14px;
	fill: #999999;
}

.attach_inp-txt {
	position: absolute;
	top: 50%;
	left: 100%;
	transform: translate(15px, -50%);
	white-space: nowrap;
	color: #999999;
	@extend %al;
	font-size: 12px;
	line-height: 19px;
}