.answ_err-container {
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: 15;
	cursor: pointer;
	&:hover {
		.answ_err-txt {
			opacity: 1;
			visibility: visible;
		}
	}
	
	&.r38 {
		right: 38px;
	}
}

.answ_err-container-attach {
	top: 50%;
	left: 100%;
	margin-left: 15px;
	transform: translateY(-50%);
	height: 13px;
	z-index: 15;
	right: auto;
}

.answ_err {
	position: relative;
	.icon-svg-err {
		width: 13px;
		height: 13px;
		fill: #ff3700;
	}
}

.answ_err-txt {
	position: absolute;
	top: 100%;
	left: 50%;
	//width: 531px;
	padding: 6px 16px;
	white-space: nowrap;
	margin-top: 3px;
	transform: translateX(-50%);
	color: #ffffff;
	@extend %ar;
	font-size: 9px;
	line-height: 1.2;
	text-align: center;
	border-radius: 5px;
	background-color: #414141;
	opacity: 0;
	visibility: hidden;
	transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 100%;
		border: 5px solid transparent;
		border-bottom: 5px solid #414141;
	}
}