.q_tip-container {
	position: absolute;
	right: 8px;
	top: 10px;
	z-index: 1;
	cursor: pointer;
	&:hover {
		.q_tip-txt {
			opacity: 1;
			visibility: visible;
		}
	}
}

.q_tip {
	position: relative;
	.icon-svg-tip {
		width: 13px;
		height: 13px;
		fill: #4fd0fb;
	}
}

.q_tip-txt {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 531px;
	padding: 6px 16px;
	margin-top: 3px;
	transform: translateX(-50%);
	color: #ffffff;
	@extend %ar;
	font-size: 9px;
	line-height: 1.2;
	text-align: center;
	border-radius: 5px;
	background-color: #414141;
	opacity: 0;
	visibility: hidden;
	transition: opacity .15s ease-in-out, visibility .15s ease-in-out;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 100%;
		border: 5px solid transparent;
		border-bottom: 5px solid #414141;
	}
}


